/******************************************************************
// Core & Co template  styles
******************************************************************/


.page-template-template-coreandco,
.coreandco-template-default {

	// .site-wrapper {
	// 	animation: bgcolorchange 30s linear 1s infinite;
	// }


	// hr {
	// 	animation: primarybgcolorchange 30s linear 1s infinite !important;
	// }

	// #CORECOLOGO {
	// 	animation: fillchange 30s var(--easing) 1s infinite;
	// 	fill:#F7A320;
	// }

	// #CORECOLOGO {
	// 	animation: fillchange 15s var(--easing) 1s infinite;
	// 	fill:#F7A320;
	// }

	// h1, .heading-1, h2, .heading-2, h3, .heading-3, h4, .heading-4, h5, .heading-5, h6, .heading-6, .heading-7, .sub-heading {
	// 	animation: colorchange 30s linear 1s infinite;
	// }

	// .header-core-logo a svg {
	// 	transform: scale(1.3);
	// }
}
//
//
// @keyframes colorchange {
// 	0%   {
// 		color: #F7A320;
// 	}
// 	22%   {
// 		color: #F7A320;
// 	}
// 	25%  {
// 		color: #00ADA1;
// 	}
// 	47%  {
// 		color: #00ADA1;
// 	}
// 	50%  {
// 		color: #652F88
// 	}
// 	72%  {
// 		color: #652F88
// 	}
// 	75% {
// 		color: #E83880;
// 	}
// 	97% {
// 		color: #E83880;
// 	}
// 	100%   {
// 		color: #F7A320;
// 	}
// }
//
//
// @keyframes primarybgcolorchange {
// 	0%   {
// 		background-color: #F7A320;
// 	}
// 	22%   {
// 		background-color: #F7A320;
// 	}
// 	25%  {
// 		background-color: #00ADA1;
// 	}
// 	47%  {
// 		background-color: #00ADA1;
// 	}
// 	50%  {
// 		background-color: #652F88
// 	}
// 	72%  {
// 		background-color: #652F88
// 	}
// 	75% {
// 		background-color: #E83880;
// 	}
// 	97% {
// 		background-color: #E83880;
// 	}
// 	100%   {
// 		background-color: #F7A320;
// 	}
// }
//
//
// @keyframes fillchange {
// 	0%   {
// 		fill: #F7A320;
// 	}
// 	22%   {
// 		fill: #F7A320;
// 	}
// 	25%  {
// 		fill: #00ADA1;
// 	}
// 	47%  {
// 		fill: #00ADA1;
// 	}
// 	50%  {
// 		fill: #652F88
// 	}
// 	72%  {
// 		fill: #652F88
// 	}
// 	75% {
// 		fill: #E83880;
// 	}
// 	97% {
// 		fill: #E83880;
// 	}
// 	100%   {
// 		fill: #F7A320;
// 	}
// }
//
//
//
//
//
// @keyframes bgcolorchange {
// 	0%   {
// 		background-color: #FEF9F1;
// 	}
// 	22%   {
// 		background-color: #FEF9F1;
// 	}
// 	25%  {
// 		background-color: #F0FAF9;
// 	}
// 	47%  {
// 		background-color: #F0FAF9;
// 	}
// 	50%  {
// 		background-color: #F5F1F7
// 	}
// 	72%  {
// 		background-color: #F5F1F7
// 	}
// 	75% {
// 		background-color: #FDF3F7;
// 	}
// 	97% {
// 		background-color: #FDF3F7;
// 	}
// 	100%   {
// 		background-color: #FEF9F1;
// 	}
// }