/******************************************************************
// Blog post
******************************************************************/



/**
* Block
*/
.blog-post {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-self: flex-end;
}


/**
* Elements
*/
.blog-post {

    &__image {

    }

    &__content {
        display: block;
        position: relative;
        width: 100%;
        z-index: 1;



        .link-arrow {
            stroke: var(--color-grey-light-2);
        }
    }

}



.blog-post__content {
    @media (hover: hover) {
        transition: transform 200ms var(--easing);

        .link-arrow {
            transition: transform 200ms var(--easing), stroke 200ms var(--easing),;
        }

        h2 {
            transition: color 200ms var(--easing);
        }

        &:hover,
        &:focus {
            transform:translate3d(0,-10px,0);

            .link-arrow {
                transform: translate3d(6px,0,0);
                stroke: var(--color-pink);
            }

            h2 {
                color: var(--color-pink);
            }
        }
    }

    &:active {
        transform:translate3d(0,-6px,0);
    }
}


/**
* Modifiers
*/
.blog-post {

    &--small {
        .blog-post__content {
             @include breakpoint($md) {
                max-width: 30rem;
                margin: -10% 0 0 auto;
            
             }

            @include breakpoint($mdlg) {
                max-width: 22rem;
                margin: -10% auto 0;
             }

             @include breakpoint($lg) {
                max-width: 30rem;
                width: 90%;
                margin: -10% auto 0;
             }


        }
    }

    &--featured {
        .blog-post__content {
             @include breakpoint($md) {
                max-width: 32rem;
                margin: -10% auto 0;
             }

             @include breakpoint($lg) {
                max-width: 42rem;
                margin: -18% auto 0;
             }
        }
    }

    &--wide {
        .blog-post__image {
            @include breakpoint($md) {
                margin-left:-10%;
                width: 80%;
            }
            @include breakpoint($mdlg) {
                width: 60%;
                margin-left:0;
            }
        }
        .blog-post__content {
             @include breakpoint($md) {
                max-width: 32rem;
                margin: 0 0 -18% auto;
             }

             @include breakpoint($lg) {
                max-width: 42rem;
                 margin: 0 0 -22% auto;
             }
        }
    }

}

