/******************************************************************
// Footer
******************************************************************/


/**
 * Footer block
 */
.footer {
	position:relative;
    z-index: 2;
	padding-bottom:25%;
	color: var(--color-grey-light-1);
	background-color: var(--color-grey-light-3);

	// Hide whitespace caused by mask SVGs
	margin-bottom: -28px;
}



/**
 * Footer elements
 */
.footer {

	a {
		@media (hover: hover) {
			&:hover,
			&:focus {
				color:var(--color-grey-dark-1) !important;
			}
		}
	}

	&__content {

		//padding:var(--spacing-extra-large) 0;
		padding:var(--spacing-extra-large) 0 0;
		

		@include breakpoint($lg) {
			// display: flex;
			// flex-direction: row;
			// flex: 0 1 auto;
			// flex-wrap: wrap;
			// align-items: center;

			// > div {
			// 	max-width: 50%;
			// 	flex-grow: 1;
   //  			flex-basis: 50%;
			// }
		}

		&-logos {
			// margin-bottom: 2rem;
			position:relative;
			z-index: 1;
			// mix-blend-mode: multiply;
			text-align: center;

			@include breakpoint($md) {
				text-align: left;
			}

			img {
				max-width: 100px;
				max-height: 70px;
				height: auto;
				width: auto;
				// mix-blend-mode: multiply;
				margin-bottom: 2rem;

				@include breakpoint($md) {
					max-width: 130px;
					max-height: 100px;
					// max-width: 160px;
					// max-height: 70px;
				}

				@include breakpoint($lg) {
					max-width: 140px;
					max-height: 140px;
					// max-width: 160px;
					// max-height: 70px;
				}

			}
		}

		&-left,
		&-right {
			position: relative;
    		z-index: 1;
    		
			ul{
				margin-bottom: 2rem;

				@include breakpoint($lg) {
					//margin-bottom: 0.5rem;
				}
			}
		}
		&-left {
			ul {
				font-family: $tertiary-font;
				font-weight:600;
				text-transform: uppercase;
				@include fluid-type($min_width, $size-xl, 13px, 15px);

				li {
					margin-right: var(--spacing);

					a {
						color: var(--color-grey-light-1);
						text-decoration: none;
					}
				}
			}
		}
		&-right {

			@include breakpoint($lg) {
				//text-align: right;

				.social-icons {
					//margin-right: -0.45rem;
				}
			}
		}
	}
	&__bottom-symbol {
		padding-bottom: 45%;
		bottom: 0;
		position: absolute;
		width: 100%;
		overflow: hidden;
		user-select: none;
    	pointer-events: none;

		svg {
			position:absolute;
			// width: 100%;
			width: 120%;
    		right: -55%;
		}
	}

}



.footer__award-banner {
	padding:40px 0;

	.footer__award-banner-image {
		margin-bottom: 20px;
	}

	@include breakpoint($md) {
		.footer__award-banner-image {
			margin-bottom: 0;
		}
	}
}