/******************************************************************
// Foundation project
******************************************************************/



/**
* Block
*/
.foundation-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-self: flex-end;
}


/**
* Elements
*/
.foundation-project {

    &__image {

    	@include breakpoint($mdlg) {
            width: 80%;
        }
    }

    &__content {
        display: block;
        position: relative;
        width: 100%;
        margin: -10% 0 0 auto;

         @include breakpoint($md) {
            max-width: 32rem;
         }
         @include breakpoint($mdlg) {
            margin: -10% calc( -1 * var(--logo-spacing-left)) 0 auto;
         }

         @include breakpoint($lg) {
            max-width: 42rem;
         }

        .link-arrow {
            stroke: var(--color-grey-light-2);
        }
    }

}

.foundation-project-all {
    &:nth-of-type(2n) {
        .foundation-project__image {
            @include breakpoint($mdlg) {
                margin-left: 20%;
            }
        }
    }
}


.foundation-project__content {
    @media (hover: hover) {
        transition: transform 200ms var(--easing);

        .link-arrow {
            transition: transform 200ms var(--easing), stroke 200ms var(--easing),;
        }

        h2 {
            transition: color 200ms var(--easing);
        }

        &:hover,
        &:focus {
            transform:translate3d(0,-10px,0);

            .people__photo {
                transform:translate3d(0,-6px,0);                    
            }

            .link-arrow {
                transform: translate3d(6px,0,0);
                stroke: var(--color-pink);
            }

            h2 {
                color: var(--color-pink);
            }
        }
    }

    &:active {
        transform:translate3d(0,-6px,0);
    }
}


.project-partners {
    img {
        max-width: 140px;
        max-height: 70px;
        width: auto;
        height: auto;
        mix-blend-mode: multiply;

        @include breakpoint($mdlg) {
            max-width: 180px;
            max-height: 100px;
        }

        @include breakpoint($xl) {
            max-width: 200px;
            max-height: 110px;
        }
    }
}

