/******************************************************************
// Header
******************************************************************/


/**
 * Header block
 */
.header {
	position:absolute;
	z-index: 60;
	top:0;
	left:0;
	width: 100%;
}



@keyframes explode {
	0%   {
		transform: scale(0.2);
	}
	100%   {
		transform: scale(1);
	}
}


@keyframes rotateSlightly {
	0%   {
		transform: rotate(25deg);
		opacity: 0;
	}
	100%   {
		transform: rotate(0deg);
		opacity: 1;
	}
}



.header-core-logo {
	position:fixed;
	top:0;
	z-index: 60;
	background-image: url('../imgs/header-logo-bg.svg');
	background-size:cover;
	background-position: bottom right;
    height: var(--logo-height);
    width: var(--logo-width);
    transform-origin: top left;
    transition: transform 200ms var(--easing);

    @include breakpoint($mdlg) {
    	z-index: 90;
    }

	a {
		display: inline-block;
		vertical-align: top;
		margin: 12px 0 0 var(--logo-spacing-left);

		svg {
			width: 60px;
			height:104.56px;

			#logo-core-mark {
				transform-origin: 65% 45%;
				animation: rotateSlightly 300ms var(--easing) 750ms 1 backwards;
			}

			#logo-core-mark path {
				transform-origin: 50% 40%;
				animation: explode 300ms var(--easing) 750ms 1 backwards;

				&:nth-of-type(2n) {
					animation-delay: 775ms;
				}
				&:nth-of-type(3n) {
					animation-delay: 800ms;
				}
				&:nth-of-type(4n) {
					animation-delay: 750ms;
				}
			} 
		}

		@include breakpoint($sm) {
			margin: 20px 0 0 var(--logo-spacing-left);

			svg {
				width: 80px;
				height: 139.42px;
			}
		}

		@include breakpoint($md) {
			margin: 20px 0 0 var(--logo-spacing-left);

			svg {
				width: 88px;
				height: 154px;
			}
		}


		@include breakpoint($lg) {
			margin: 29px 0 0 var(--logo-spacing-left);

			svg {
				width: 110px;
				height: 192px;
			}
		}
		@include breakpoint($xl) {
			margin: 39px 0 0 var(--logo-spacing-left);

			svg {
				width: 120px;
				height: 209px;
			}
		}
	}
}


/**
 * Elements
 */
.header {

	.header {

		&__secondary {
			@include breakpoint(0 $mdlg) {
				text-align: right;
				position: absolute;
				top: 65px;
				right: 23px;

				.secondary-link {
					display: none;
				}
				.useful-links__trigger {
					
					svg {
						top: -3px;
						right: -14px;
					}
				}
			}

			@include breakpoint(450px $mdlg) {
				top: 22px;
				right: 156px;
			}

			@include breakpoint($mdlg) {
				display:flex;
				flex-direction: row;
				justify-content: space-between;

				padding: 12px 0;
			}
		}

		&__breadcrumbs {

			@include breakpoint(0 $mdlg) {
				display: none;
			}

			margin-top: 1px;
			margin-top: 3px;

			p {
				font-size: 13px;
				color: var(--color-grey-light-1);
				margin-left: -6px;
			}

			a {
				vertical-align: top;
				display: inline-block;
				padding:2px;
				margin: 0 2px;
				max-width: 140px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				@media (hover: hover) {
					transition: max-width 150ms var(--easing);

					&:hover {
						max-width: 500px;
					}
				}

				@include breakpoint($md) {
					margin: 0 4px;
				}
			}

			.breadcrumb_last {
				vertical-align: top;
				display: inline-block;
				margin-left: 7px;
				max-width: 160px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				padding:2px;

				@include breakpoint(0 $lg) {
					display: none;
				}
			}

		}

		&__nav-secondary {
			ul {
				display:flex;
				flex-direction: row;
				justify-content: space-between;

				a {
					font-size: 13px;
					color: var(--color-grey);
					padding:2px;
					margin-left: 1.5rem;
				}	
			}
		}


		&__primary {
			display:none;

			@include breakpoint($mdlg) {
				display:block;
			}

			@include breakpoint(1600px) {
				// ul.main-menu-header {
				// 	max-width: 1100px;
    // 				float: left;
    // 			}
    		}
		}


		&__nav-primary {
			display:none;

			li.current > a {
				color: var(--color-aqua) !important;
			}

			@include breakpoint($mdlg) {
				display:block;
			    // padding: 16px 0;
			    position: relative;

				> ul {
					display:flex;
					flex-direction: row;
					justify-content: space-between;
					width: calc(100% + 20px);
					margin-left: -10px;
					//font-family: $secondary-font;
					font-family: $tertiary-font;

					> li {
						position: initial;
						// padding:18px 0 26px;
						padding:4px 0 10px;

						@include breakpoint($lg) {

						// @include breakpoint($mdlg $lg) {
						// 	&:nth-of-type(5) {
						// 		display: none;
						// 	}
						}

						@include breakpoint($lg) {
							padding:20px 0 26px;
						}
						@include breakpoint($xl) {
							padding:32px 0 26px;
						}
					}

					> li > a {
						font-size: 15px;
						color: var(--color-grey-dark-1);
						padding: 10px;
						border-radius: 4px;

						@media (hover: hover) {
							transition: color 150ms var(--easing), font-size 150ms var(--easing);

							&:hover {
								color: var(--color-pink) !important;
							}
						}
					}

					li.has-sub-menu {

						> a {
							position:relative;
							// padding-right: 32px;

							svg {
								position:absolute;
								width: 29px;
								height: 29px;
								top: 3px;
								right: -20px;
								transform: rotate(90deg);

								@include breakpoint($lg) {
									top: 5px;
								}

								@include breakpoint($xl) {
									top: 7px;
								}
								@include breakpoint($xxl) {
									top: 8px;
								}
							}

							&:after {
								content:'';
								width: 38px;
								height:15px;
								background-image:url('../imgs/arrow-up.svg');
								background-size: cover;
								position:absolute;
								z-index: 92;
								bottom:-18px;
								left:-10px;
								right:0;
								margin:0 auto;
								display: block;

								visibility: hidden;
								transform: translate3d(0,-4px,0);
								opacity: 0;
								transition: opacity 150ms var(--easing), transform 150ms var(--easing), visibility 150ms var(--easing) 150ms;

							}

						}

						&.sub-menu-active > a {
							color: var(--color-pink);
						}

						&.sub-menu-active a {

							&:after {
								transform: translate3d(0,0,0);
								opacity: 1;
								visibility: visible;
								transition: opacity 150ms var(--easing) 150ms, transform 200ms var(--easing) 150ms, visibility 150ms var(--easing);
							}
						}
					}
				}

				// Sub-menu styling

				.sub-menu {
					padding: 20px;
					//background-color: var(--color-grey-dark-1);
					border-radius: var(--border-radius);
					background: #FFFFFF;
					box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04), 0 0 80px 0 rgba(0,0,0, 0.1);
					min-height: 270px;

					visibility: hidden;
					transform: translate3d(0,-6px,0);
					opacity: 0;
					transition: opacity 150ms var(--easing), transform 150ms var(--easing), visibility 150ms var(--easing) 150ms;

					position: absolute;
					z-index: 91;
					display:flex;
					flex-direction: row;
					justify-content: space-between;
					left: -40px;
					top: 69px;

					width: calc(100vw - var(--logo-width) );

					@include breakpoint($mdlg) {
						top: 52px;
					}					

					@include breakpoint($lg) {
						top: 72px;
						padding:30px;
						width: calc(100vw - var(--logo-width) - 50px);
					}
					@include breakpoint($xl) {
						top: 86px;
						padding:40px;
						width: calc(94vw - var(--logo-width) + 20px);
					}

					@include breakpoint($xxl) {
						width: calc( #{$max} - var(--logo-width) - 50px);
					}

					h3 {
						margin:4px 0 20px;
						opacity: 0.3;
					}


					> li {
						flex-grow: 1;
						flex-basis: 0;
					}

					li a {
						line-height: 1.1;
						color: var(--color-grey);
						display: inline-block;
						padding: 4px 0;
						margin-bottom: 0px;
						font-size: 14px;


						@include breakpoint($lg) {
							font-size: 15px !important;
						}
						@include breakpoint($xl) {
							margin-bottom: 4px;
						}
					}

					ul {
						padding-right: 10px;
					}


					.sub-menu__image {
						display: none;

						@include breakpoint($lg) {
							display: block;
						}

						.image {
							width: calc(100% + 10px);
							height: calc(100% + 20px);
							margin: -10px 0 ;
							padding-top: 0px !important;

							@include breakpoint($lg) {
								width: calc(100% + 20px);
								height: calc(100% + 40px);
								margin: -20px 0 ;
							}
							@include breakpoint($xl) {
								width: calc(100% + 30px);
								height: calc(100% + 60px);
								margin: -30px 0 ;
							}

						}
					}


				} 

				.sub-menu-active .sub-menu {
					transform: translate3d(0,0,0);
					opacity: 1;
					visibility: visible;
					transition: opacity 150ms var(--easing) 150ms, transform 200ms var(--easing) 150ms, visibility 150ms var(--easing);

				}
			}

			@include breakpoint($lg) {
				ul > {
					li > a {
						font-size: 18px;
					}
				}
			}

			@include breakpoint(1300px) {
				ul > {
					li > a {
						font-size: 20px;
					}
				}
			}
			@include breakpoint($xxl) {
				ul > {
					li > a {
						font-size: 22px;
					}
				}
			}
		}



		&__menu-btn {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
	
			@include breakpoint(0 $mdlg) {
				position: fixed;
				z-index: 95;
				top: 10px;
				right: 10px;
			}


			@include breakpoint($mdlg) {
				display: none;
			}

			&__trigger {
				position:relative;
				height: 48px;
				width: 112px;
				padding-top: 1px;
				background-color: white;
				cursor:pointer;

				&:focus {
					outline: 0;
				}

	
				// @include breakpoint($md) {
				// 	top:3px;
				// }
			}
		}
	}



	ul, .header__breadcrumbs {
		font-family: $tertiary-font;
		font-weight:600;
		text-transform: uppercase;
	}

	a {
		text-decoration: none;
	
		@media (hover: hover) {
			&:hover,
			&:focus {
				color:var(--color-pink) !important;
			}
		}

	}

}




.useful-links__trigger {
	position: relative;
	padding-right: 15px;
	z-index: 95;

	svg {
		position:absolute;
		width: 29px;
		height: 29px;
		top: 0px;
		right: -12px;
		transform: rotate(90deg);
	}

	&.sub-menu-active {
		> a {
			color:var(--color-aqua) !important;
		}

		svg {
			transform: rotate(270deg);
			top: 3px;
		}

	   	.useful-links__menu {
			transform: translate3d(0,0,0);
			opacity: 1;
			visibility: visible;
			transition: opacity 150ms var(--easing) 150ms, transform 200ms var(--easing) 150ms, visibility 150ms var(--easing);
		}
	}
}

.useful-links__menu {
	visibility: hidden;
	display: block !important;
	width: 220px;
    position: absolute;
    background: white;
    border-radius: var(--border-radius);
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 10px 10px -5px rgba(0,0,0,.04)!important;
    text-align: left;
    display: block;
    right: -20px;
    top: 44px;
    padding: 12px 20px 16px;

    transition: opacity 150ms var(--easing), transform 150ms var(--easing), visibility 150ms var(--easing) 150ms;
	transform: translate3d(0,10px,0);
	opacity: 0;

	@include breakpoint(0 $mdlg) {
		top: 22px;
	}

	li {
		display: block;

		a {
			margin-left:0 !important;
			color:var(--color-grey);

			@media (hover: hover) {
				&:hover,
				&:focus {
					color:var(--color-pink) !important;
				}
			}

		}
	}
}



.headroom--not-top {
	.header-core-logo {
		transform: scale(0.7);

		@include breakpoint($sm) {
			transform: scale(0.6);
		}

		@include breakpoint($md) {
			transform: scale(0.6);
		}

		@include breakpoint($mdlg) {
			transform: scale(0.8);
		}
		@include breakpoint($lg) {
			transform: scale(1);
		}
	}

	.header {

		@include breakpoint($mdlg) {
			//background-color: rgba(247, 248, 248,0.85);
			background-color: rgba(255, 255, 255,0.96);
			backdrop-filter: blur(6px);
			position:fixed;
			height: 90px;
			top: -45px;
			//box-shadow:0 2px 0 0 white;
			max-width: 2000px;
			margin: 0 auto;
			right: 0;

		}

		@include breakpoint($lg) {
			top: -55px;
			height: 118px;
		}
		@include breakpoint($xl) {
			top: -67px;
			height: 130px;
		}
	}

	.header .header__nav-primary ul > li > a {

		@include breakpoint($lg) {
			font-size:17px;
		}

		@include breakpoint(1300px) {
			font-size:17px;
		}
		@include breakpoint($xxl) {
			font-size: 17px;
		}

	}

	.header .header__nav-primary > ul li.has-sub-menu > a svg {
		@include breakpoint($xl) {
			top: 5px;
		}
	}

	.header .header__nav-primary > ul li.has-sub-menu > a:after {

		@include breakpoint($mdlg) {
			bottom:-4px;
		}

		@include breakpoint($lg) {
			bottom:-12px;
		}

		@include breakpoint($xl) {
			bottom:-10px;
		}

	}

	.header .header__nav-primary .sub-menu {

		@include breakpoint($mdlg) {
			top: 40px;
		}

		@include breakpoint($lg) {
			top: 65px;
		}

		@include breakpoint($xl) {
			top: 77px;
		}
	}
}
