/******************************************************************
// Page heading images
******************************************************************/


/**
 * Block
 */
.home-slider {

}



/**
 * Elements
 */
.home-slider {

	.swiper-slide {
		//background: var(--color-grey-light-3);
		background: #fff;

		padding-top: calc( var(--logo-height) );

		@include breakpoint(0 $sm) {
			max-height: 332px;
		}

		@include breakpoint($sm $md) {
			max-height: 380px;
		}

		@include breakpoint($md $mdlg) {
			max-height: 460px;
		}


		@include breakpoint($mdlg) {
			padding-top: calc( var(--logo-height) + 260px);
		}
		@include breakpoint($lg) {
			padding-top: calc( var(--logo-height) + 200px);
		}

	}


	&__image {
		position:relative;
		display: block;
		position: relative;
		width: 85%;
		margin-left: 15%;
		clip-path: url(#homeMask);

		@include breakpoint($md) {
			width: 75%;
			margin-top: -100px;
			margin-left: 25%;
		}

		@include breakpoint($mdlg) {
			margin-top: -140px;
		}


		@include breakpoint($lg) {
			margin-left: calc( 100% - 900px);
			max-width: 900px;
			width: 100%;
			margin-top: -180px;
		}

		@include breakpoint($xxl) {
			margin-left: calc( 100% - 1100px);
			max-width: 1100px;
			margin-top: -140px;
		}

		@include breakpoint($xxl) {
			margin-top: -180px;
		}


		.image {
			padding-bottom: calc(717.5 / 1157.2 * 100%);

		}

		img {
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__content {
		position:relative;
		z-index: 2;
		left:var(--logo-spacing-left);
		width: calc( 100% - ( var(--logo-spacing-left) * 1.5 ) ) ;

		p {
			max-width: 80%;
		}

		@include breakpoint($md) {
			p {
				max-width: 380px;
			}
		}

		@include breakpoint($lg) {
			p {
				max-width: 410px;
			}
		}

		@include breakpoint($mdlg) {
			position:absolute;
			top:var(--logo-height);
			width: 80%;
		}

		@include breakpoint($lg) {
			width: 80%;
			max-width: 1330px;
			left: calc( var(--logo-spacing-left) * 1.25 );
		}

		@include breakpoint($xl) {
			max-width: 1230px;
			left: calc( var(--logo-spacing-left) * 1.5 );
			top: calc( var(--logo-height) + 3vh);
		}
		@include breakpoint($xxl) {
			left: 7vw ;
		}

	}

	&__nav {
		position:absolute;
		z-index: 20;
		top:0;
		right: var(--logo-spacing-left);
		width: 90px;
		text-align: right;

		padding-top: 102px;

		@include breakpoint($sm) {
			padding-top: 126px;
		}

		@include breakpoint($mdlg) {
			padding-top: 200px;
		}
		@include breakpoint($lg) {
			padding-top: 230px;
		}

		// @include breakpoint($md) {
		// 	padding-top: calc( var(--logo-height) - 20px);
		// }
		// @include breakpoint($mdlg) {
		// 	padding-top: calc( var(--logo-height) + 260px);
		// }
		// @include breakpoint($lg) {
		// 	padding-top: calc( var(--logo-height) + 200px);
		// }

	}

	&__next,
	&__prev {
		width: 40px;
		height: 40px;
		display: inline-block;
		margin:0 1px;
		cursor: pointer;

		svg {
			stroke: var(--color-grey);
		}

		@media (hover: hover) {
			&:hover,
			&:focus {
				svg {
					stroke: var(--color-pink);
				}
			}
			&:active,
			&:focus {
				outline: none;
			}
		}


		&.swiper-button-disabled {
			opacity: 0.3;
			cursor: pointer;

			@media (hover: hover) {
				&:hover,
				&:focus {
					svg {
						stroke: var(--color-grey);
					}
				}
			}
		}
	}

	&__prev {
		svg {
			transform: rotate(90deg);
		}
	}


	&__next {
		svg {
			transform: rotate(-90deg);
		}
	}


	&__shapes {
		z-index: 2;
		position: absolute;
		bottom: 50px;
		right: -16vw;
		width: 46%;
		height: auto;
		max-width: 860px;

		@include breakpoint($md) {
			bottom: 1vw;
		}

		@include breakpoint($lg) {
			width: 30%;
		}

		@include breakpoint($xl) {
			width: 36%;
		}
		@include breakpoint($xxl) {
			bottom: 3vw;
			width: 32%;
		}
	}

	&__arrow-down {
		display: none;

		@include breakpoint($mdlg) {
			display: block;
			z-index: 2;
			position: absolute;
			bottom: calc( var(--logo-spacing-left) * 1.5 );
			left: calc( var(--logo-spacing-left) * 1.5 );
			// bottom: calc( var(--logo-spacing-left) * 1.5 );
		}

		@include breakpoint($lg) {
			// bottom: auto;
			// top: calc( 100vh - ( var(--logo-spacing-left) * 2) );
		}

		@include breakpoint($xl) {
			// bottom: auto;
			// top: calc( 100vh - ( var(--logo-spacing-left) * 1.75) );
		}

		svg {
			width: 44px;
			stroke: var(--color-grey-light-1);
			transform: rotate(90deg);
		}
	}

	.swiper-button-prev {

	}

	.swiper-button-next {

	}


}

