/******************************************************************
// I,ages (not a gallery)
******************************************************************/


/**
 * Block
 */
.section-images {

}



/**
 * Elements
 */
.section-images {
	.row {
		margin-bottom: 6px;

		@include breakpoint($md) {
			margin-bottom: 10px;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

}