/******************************************************************
// Layout - Set of various elements which keep the site
//          structured without a grid.
******************************************************************/


/**
 * Block
 */

.layout {
	display: flex;
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;

	&--end {
		justify-content: flex-end;
	}
}



.sidebar,
.main {
	flex-basis: 100%;
	max-width: 100%;

	@include breakpoint($mdlg) {
		flex-basis: calc(100% - 220px);
		max-width: calc(100% - 220px);
		margin-left: 220px;
	}
}


.sidebar--layout {
	@include breakpoint($mdlg) {
		margin-left: 0px;
		padding-right: 26px;
		flex-basis: 32%;
		max-width: 32%;
	}
	@include breakpoint($lg) {
		padding-right: 40px;
		flex-basis: 26%;
		max-width: 26%;
	}
	@include breakpoint($xl) {
		padding-right: 60px;
	}
}

.main {
	@include breakpoint($mdlg) {
		margin-left: 0px;
		flex-basis: 68%;
		max-width: 68%;
	}
	@include breakpoint($lg) {
		margin-left: 0px;
		flex-basis: 74%;
		max-width: 74%;
	}
}




.sidebar--layout {
	@include breakpoint(0 $mdlg) {
		display: none;
	}
	@include breakpoint($mdlg) {
		// position: sticky;
		// top: calc( var(--logo-height) + 40px);
	}
}



// .test-block {
// 	height: 10vh;
// 	background: red;
// }

// .test-block-large {
// 	height: 80vh;
// 	background: green;
// }


// .test-block-large-alt {
// 	height: 80vh;
// 	background: pink;
// }



