/******************************************************************
// Page heading images
******************************************************************/


/**
 * Block
 */
.header-image {

}



/**
 * Elements
 */
.header-image {

	&__landscape-shapes {
		position:relative;

		img {
			position:relative;
			z-index: 1;
			margin-top: 7vw;
		}

		svg {
			fill:white;
			position:absolute;
			z-index: 0;
			left:0;
			top: -19vw;
			width: 100%;

		}
	}

	&__mask,
	&__mask-crop {
		position:relative;
		display: block;
		height: 0;
		position: relative;
		margin-top: calc(-1 * ( var(--spacing-extra-large) / 1.5) );

		img {
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}


	&__mask {
		padding-bottom: calc(948 / 1400 * 100%);

		img {
			clip-path: url(#headerMask);
		}

		.header-image__grad {
			clip-path: url(#headerMask);
		}
	}

	&__mask-crop {
		padding-bottom: calc(548.74 / 1400 * 100%);

		img {
			clip-path: url(#headerMaskCrop);
		}
	
		.header-image__grad {
			clip-path: url(#headerMaskCrop);
		}

	}

	&__grad {
		position: absolute;
		top: 0;
		height: 100%;
		opacity: 0.8;
		z-index: 2;
		width: 100%;
	}

	&__shapes {
		
	}

}

