/******************************************************************
// Page link blocks
******************************************************************/


/**
* Background colours
*/
.page-link-blocks {
    position:relative;
    z-index: 2;
    padding: var(--spacing-large);

    @include breakpoint($md) {
        padding: var(--spacing-very-large);
    }

    @include breakpoint($xl) {
        padding: var(--spacing-extra-large);
    }
    // display: flex;
    // flex: 0 1 auto;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: center;

    .row {
        margin-bottom: calc( var(--grid-width) * -2) !important;
    }
}


/**
* Elements
*/
.page-link-blocks {
    &__item {
        position: relative;
        display: flex;

        .link-arrow {
            stroke: var(--color-grey-light-2);
        }

        @media (hover: hover) {
            transition: transform 200ms var(--easing);

            .link-arrow {
                transition: transform 200ms var(--easing), stroke 200ms var(--easing),;
            }

            h3 {
                transition: color 200ms var(--easing);
            }

            &:hover,
            &:focus {
                transform:translate3d(0,-10px,0);

                .link-arrow {
                    transform: translate3d(6px,0,0);
                    stroke: var(--color-pink);
                }

                h3 {
                    color: var(--color-pink);
                }
            }
        }

        &:active {
            transform:translate3d(0,-6px,0);
        }

        &-inner {
            height: 44vw;
            width: 100%;
            max-height: 380px;
            padding: var(--spacing-large);
            border-radius: 8px;
            background:white;
            align-items: center;
            text-align:center;
            justify-content: center;
            display: flex;

            @include breakpoint($md) {
                height: 38vw;
            }

            @include breakpoint($lg) {
                height: 30vw;
            }

            @include breakpoint($xl) {
                padding: var(--spacing-very-large);
            }

            @include breakpoint($xxl) {
                padding: var(--spacing-very-large);
                height: 24vw;
            }
        }
    }

    @include breakpoint(0 $md) {
        .col-xs-12 {
            margin-bottom: var(--spacing-large);

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .page-link-blocks__item-inner {
            .copy-sm {
                display: none;
            }
        }
    }
}