/******************************************************************
// Page heading
******************************************************************/


/**
 * Block
 */
.page-heading {
	padding-top: calc( var(--logo-height) + 20px);

	@include breakpoint($md) {
		padding-top: calc( var(--logo-height) - 20px);
	}
	@include breakpoint($mdlg) {
		padding-top: calc( var(--logo-height) / 1.5);
	}
	@include breakpoint($lg) {
		padding-top: calc( var(--logo-height) / 1.4);
	}
	@include breakpoint($xl) {
		padding-top: calc( var(--logo-height) / 1.3);
	}
}



/**
 * Elements
 */
.page-heading {

	.wrapper--small {
		
	}

	h1 {
		// word-break: break-word;
		margin-bottom: var(--spacing-big);
	}

	&__image {
		
		// img {
		// 	object-fit:cover;
		// 	font-family: "object-fit: cover";
		//     position: absolute;
		//     top: 0;
		//     left: 0;
		//     height: 100%;
		//     width: 100%;
		// }
	}

	.image img.lazyloaded {
		// opacity:0.6 !important;
	}

	&__type {
		margin-top: -40px;
    	display: table;
    	text-decoration: underline;
    	margin-left:  calc( var(--logo-width) - 20px);

    	@include breakpoint($md) {
    		margin-left: 0px;
    	}
	}

}


.page-intro {
	&__section-links {
		margin-top: 2rem;

		li a {
			font-family: $tertiary-font;
			font-weight:600;
			text-transform: uppercase;
			font-size: 15px;
			color: var(--color-grey);
			padding: 2px 0 6px;
			margin: 0 30px 6px 0;
			text-decoration:none;
			display: inline-block;
			border-bottom: 2px solid var(--color-grey-light-2);

			@media (hover: hover) {
				&:hover,
				&:focus {
					color:var(--color-pink) !important;
					border-color:var(--color-pink) !important;
				}
			}

			@include breakpoint($lg) {
				font-size: 18px;
				margin: 0 35px 0 0;
			}
		}
	}
}

/**
 * Mofifiers
 */
.page-template-template-top-level,
.coreandco-template-default,
.page-template-template-contact,
.page-template-template-coreandco {
 	.page-intro {
 		margin-bottom: var(--spacing-extra-large);
 		
 		.copy-lg {
 			max-width: 48rem;
 		}
 	}
}


.single-roles_key {
 	.page-heading{
 		margin-bottom: var(--spacing-extra-large);
 	}
}
