/******************************************************************
// Page link blocks
******************************************************************/


/**
* Background colours
*/
.people {
    margin-top:1.5rem;
    margin-bottom:-1.5rem;

    @include breakpoint($md) {
        margin-top:3rem;
        margin-bottom:-3rem;
    }
}


/**
* Elements
*/
.people {
    &__item {
    	position: relative;
    	display: block;
		margin-bottom: 3rem;
		max-width: 300px;

        @include breakpoint($md) {
            margin-bottom: 5rem;
        }

    	.link-arrow {
    		stroke: var(--color-grey-light-2);
    	}

    	.heading-5 {
    		margin-bottom: 2rem;
    	}
    	
    }
    &__photo {
    	position:relative;
    	background: var(--color-grey-light-2);
    	width: 50%;
    	padding-bottom:50%;
    	margin: -1.5rem 0 1.5rem -1.5rem;

        @include breakpoint($md) {
            width: 75%;
            padding-bottom:75%;
            margin: -3rem 0 1.5rem -1.5rem;
        }

    	img {
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
    	}
    }
}

a.people__item {
    @media (hover: hover) {
        transition: transform 200ms var(--easing);

        .link-arrow {
        	transition: transform 200ms var(--easing), stroke 200ms var(--easing),;
        }

        .people__photo {
            transition: transform 200ms var(--easing);
        }

        .heading-5 {
        	transition: color 200ms var(--easing);
        }

        &:hover,
        &:focus {
            transform:translate3d(0,-10px,0);

            .people__photo {
                transform:translate3d(0,-6px,0);            		
            }

            .link-arrow {
            	transform: translate3d(6px,0,0);
            	stroke: var(--color-pink);
            }

            .heading-5 {
            	color: var(--color-pink);
        	}
        }
    }

    &:active {
        transform:translate3d(0,-6px,0);
    }
}


.bg-overlay {
    visibility: hidden;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 8888;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: linear-gradient(0deg, #652F88 0%, #E00069 100%);
    transition: 200ms visibility var(--easing) 200ms, 200ms opacity var(--easing);
}
.overlay-active {
    height: auto;

    .bg-overlay {
        visibility: visible;
        opacity: 0.87;
        transition: 200ms visibility var(--easing), 200ms opacity var(--easing);
    }
}

.people__bio {
    max-width: 720px;
    padding: 0;
    background: #fff;
    display: inline-block;
    margin: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    z-index: 9999;
    text-align: left;
    top: 0;
    right: 0;
    height: 100%;
    transform: translate3d(100%,0,0);
    transition: 250ms transform var(--easing);

    &.active {
        transform: translate3d(0,0,0);
        transition: 250ms transform var(--easing) 150ms;
    }

    .content-scroll {
        padding: 50px 30px;

        @include breakpoint($md) {
            padding: 80px 100px;
        }
    }
}

.people__bio-close {
    position:absolute;
    top:25px;
    right:25px;

    width: 20px;
    height: 20px;

    @include breakpoint($md) {
        top:50px;
        right:50px;
    }

    svg {
        stroke: var(--color-grey-light-1);
    }

    @media (hover: hover) {
        cursor: pointer;

        svg {
            transition: stroke 150ms var(--easing), transform 150ms var(--easing);
        }

        &:hover,
        &:focus {
            svg {
                stroke: var(--color-pink);
                transform: rotate(90deg);
            }
        }
    }

}



