/******************************************************************
// Quote slider
******************************************************************/



/**
* Block
*/
.quote-slider,
.quote-slider-two {
   padding: 12px 0;
}


/**
* Elements
*/
.quote-block {
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 6px var(--color-aqua);
    margin: 6px 0;
    transform: rotate(2deg);
    
    blockquote {
        border-left: none;
        margin: 0;
        padding: 20px 15px;
        border-radius: var(--border-radius);
    }

}

.quote-slider .swiper-slide,
.quote-slider-two .swiper-slide {


    &:nth-of-type(2n) {
        margin-top: 30px;
        transform: rotate(-4deg);

        .quote-block { box-shadow: 0 0 0 6px #652f88;}
    }
}
