/******************************************************************
// Role block
******************************************************************/



/**
* Block
*/
.role {

}


/**
* Elements
*/
.role {
    display: block;
    position: relative;

    &__content {
        position:relative;
        z-index: 1;
		
		@include breakpoint($lg) {
			display: flex
		}
    }
	
		
	&__title {
		@include breakpoint($lg) {
			width: 60%;
			padding-right: 2rem;
		}
	}
	
	&__date,
	&__school {
		
		@include breakpoint($lg) {
			width: 20%;
		}
		
		span {
			width: 40%;
			
			@include breakpoint($lg) {
				width: 100%;
			}
		}
	}

    &__school-logo {
        width: 150px;
        position: absolute;
        z-index: 0;
        bottom: 1em;
        right: 2.5em;
        opacity: 0.2;
    }
	
	.text-link {
		@include breakpoint($lg) {
			display: none;
		}
	}

    .link-arrow {
        stroke: var(--color-grey-light-2);
    }
}


.role a {
	display: block;
	
    @media (hover: hover) {
        transition: transform 200ms var(--easing);

        .link-arrow {
            transition: transform 200ms var(--easing), stroke 200ms var(--easing),;
        }

        h3 {
            transition: color 200ms var(--easing);
        }

        &:hover,
        &:focus {
            transform:translate3d(0,-10px,0);

            .link-arrow {
                transform: translate3d(6px,0,0);
                stroke: var(--color-pink);
            }

            h3 {
                color: var(--color-pink);
            }
        }
    }

    &:active {
        transform:translate3d(0,-6px,0);
    }
}




/**
* Role sidebar
*/


.job-role-list {
    display: flex;
    margin-bottom: 1.25rem;

    svg {
        width: 24px;
    }

    div {
        padding-left:15px;
    }
}

.job-role-list-divider {
    margin: 1.5rem 0;
}


/**
* Role search and filter
*/

.searchandfilter ul {
    padding: 0;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.searchandfilter ul li {
    flex: 0 0 auto;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 10px;

    @include breakpoint($md) {
        flex-basis: 50%;
        max-width: 50%;
        padding:0 10px;
    }

    @include breakpoint($mdlg) {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }
    @include breakpoint($lg) {
        padding:0 20px;
    }

    &:first-of-type {
        padding-left:0;
    }


    &:last-of-type {
        padding-right:0;
    }


    &:before {
        content: none;
    }
}

.searchandfilter label {
    display: block;
}

.searchandfilter h4 {
    padding:5px 0 6px;
    opacity: 0.5;

    @include breakpoint($mdlg) {
        padding: 5px 0 12px;
    }
}

.job-role-pagination {
    display: flex;

    .nav-previous {
        svg {
            transform: rotate(180deg);
        }
    }
    .nav-next,
    .nav-previous {
        display: inline-block;
        vertical-align: top;
        padding: 4px 10px 0px;
        margin:0 10px;
    }
}
