/******************************************************************
// Site wide message
******************************************************************/


/**
* Background colours
*/
.school {

}


/**
* Elements
*/
.school {
	&__logo {
		text-align:center;

		img {
			max-width: 160px;
			margin: 0 auto;

			@include breakpoint($mdlg) {
				max-width: 230px;
			}
		}

		@include breakpoint(0 $mdlg) {
			display: none;
		}
	}
	&__contact-info {
		li {
			margin: 0 0 6px 0;

			a {
				text-decoration: none;
				overflow-wrap: break-word;
			}

			svg {
				margin: 2px 5px 0 0
			}
		}
	}
}
