/******************************************************************
// Schools
******************************************************************/

// Used for both the 'All schools' listing block
// and the 'Our Schools' block.


/**
* Block
*/
.list-all-schools {

}


/**
* Elements
*/
.list-all-schools {
    &__item {
    	position: relative;
    	display: block;
		text-align:center;
		align-items: center;
		text-align:center;
		justify-content: center;
		display: flex;
		border-radius: 8px;

		height: 65vh;
		padding: var(--spacing-large);
		margin-bottom: var(--spacing-big);

		@include breakpoint($sm) {
			height: 45vh;
		}

		@include breakpoint($md) {
			height: 40vh;
		}
		@include breakpoint($mdlg) {
			height: 45vw;
			margin-bottom: calc( var(--spacing-big) * 2);
		}

		@include breakpoint($lg) {
			height: 40vw;
		}

		@include breakpoint($xl) {
			height: 30vw;
			max-height: 620px;
		}

		div {
			position:relative;
			z-index: 1;

			img {
				width: 80%;

				@include breakpoint($mdlg $lg) {
					width: 70%;
				}
			}
			p {
				color: #fff;
			}
		}

		svg.link-arrow {
			z-index: 1;
		}



        @media (hover: hover) {
            transition: transform 200ms var(--easing);

            .list-all-schools__image {
                transition: opacity 200ms var(--easing);
            }

            div img {
            	transform-origin: bottom;
            	transition: transform 200ms var(--easing);
            }

            &:hover,
            &:focus {
                transform:translate3d(0,-10px,0);

                .list-all-schools__image {
                    opacity: 0;               		
                }
                 div img {
                 	transform: scale(1.1);
                 }

                .link-arrow {
                	transform: translate3d(6px,0,0);
                }
            }
        }

        &:active {
            transform:translate3d(0,-6px,0);
        }

    }

    &__image {
    	border-radius: 8px;
		position: absolute;
		z-index: 0;
		top: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;

		opacity: 0.15;
		filter: grayscale(1);
    }
}





/**
* Block
*/
.our-schools {

}


/**
* Elements
*/
.our-schools {
    &__item {
		img {
			max-width: 150px;

			@include breakpoint($md) {
				max-width: 190px;
			}

			@include breakpoint($lg) {
				max-width: 200px;
			}

			@include breakpoint($xl) {
				max-width: 220px;
			}

		}
    }
}

