/******************************************************************
// Site wide message
******************************************************************/


/**
* Background colours
*/
.site-wide-message{
	position: fixed;
	z-index: 100;
	bottom:20px;
	left:20px;
	width: calc(100% - 40px);
	max-width: 600px;

	background: #FFFFFF;
	box-shadow: 0 12px 84px 0 rgba(0,0,0,0.28);
	border-radius: 5px;
	padding:20px 25px 16px;

	display: flex;
	transition: 250ms transform cubic-bezier(0.18, 0.89, 0.32, 1.28);

	@include breakpoint($md) {
		max-width: 660px;
	}
	@include breakpoint($mdlg) {
		padding:32px 38px 28px;
	}
}


/**
* Elements
*/
.site-wide-message {
    &__icon {
    	svg {
			width: 32px;
			height:32px;
    		stroke: var(--color-pink);

    		@include breakpoint($md) {
    			width: 64px;
				height:64px;
    		}
    	}
    }
    &__content {
    	padding-left:20px;
    }

    &__hide {
    	position:absolute;
    	top:15px;
    	right:15px;

		svg {
			width: 18px;
			height: 18px;
			stroke: var(--color-grey-light-1);
		}

		@media (hover: hover) {
		    cursor: pointer;

		    svg {
		        transition: stroke 150ms var(--easing), transform 150ms var(--easing);
		    }

		    &:hover,
		    &:focus {
		        svg {
		            stroke: var(--color-pink);
		            transform: rotate(90deg);
		        }
		    }
		}


    }
    .text-link {
    	float: right;
    }

    &.hide-it {
    	transform: translate3d(0, calc(100% + 30px), 0);
    }
}

.no-message {
	display: none;
}
