/******************************************************************
// Text / Image block
******************************************************************/



/**
* Block
*/
.text-image {

}


/**
* Elements
*/
.text-image {
    &__content {
    }

    &__image {
    	margin-bottom: var(--spacing-large);

    	@include breakpoint($mdlg) {
    		margin-bottom: 0
    	}
    }
}




/**
* Block
*/
.text-columns {

}


/**
* Elements
*/
.text-columns {
    &__item {
    	margin-bottom: var(--spacing-large);

    	@include breakpoint($mdlg) {
    		&:last-of-type,
    		&:nth-last-of-type(2) {
    			margin-bottom: 0;
    		}
    	}
    }
}
