/******************************************************************
//Timeline
******************************************************************/


/**
* Block
*/
.timeline {
    // padding: var(--spacing-large);

    // @include breakpoint($md) {
    //     padding: var(--spacing-very-large);
    // }

    // @include breakpoint($xl) {
    //     padding: var(--spacing-extra-large);
    // }

}


/**
* Elements
*/
.timeline {
    &__year {
        margin: 7vw 0;

        @include breakpoint($xl) {
            margin: 5vw 0;
      
        }

        &:first-of-type {
            margin-top: 0 !important;
        }
    }

    &__entry {
        @include breakpoint(0 $md) {
            max-width: 380px !important;
            margin-left:auto;
            margin-right:auto;
        }
    }

}


.timeline__entry + .timeline__entry,
.timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry,
.timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry,
.timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry,
.timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry,
.timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry,
.timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry,
.timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry  {
    margin-top: 10vw;
}

.timeline__entry + .timeline__entry + .timeline__entry,
.timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry,
.timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry,
.timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry,
.timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry,
.timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry,
.timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry + .timeline__entry {
    margin-top: 0;
}


