/******************************************************************
// Twitter block
******************************************************************/



/**
* Block
*/
.twitter-block {

}


/**
* Elements
*/
.twitter-block {
    overflow: hidden;
    position:relative;
    z-index: 2;

    &__heading {
        @include breakpoint($lg) {
          display: flex;
          justify-content: space-between ;
        }
    }

    &__list {
      overflow: visible !important;

        ul {
            padding:0;
            margin:0;
            list-style:none;

            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            transition-property: transform;
            box-sizing: content-box;



            li:before {
              content: none;
            }

            li {
              display:: inline-block;
              vertical-align: top;
              padding: 1.5rem;
              background-color: white;
              border-radius: 4px;
              box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.04);

              flex-shrink: 0;
              width: 100%;
              height: 100%;
              position: relative;
              transition-property: transform;

              p.tweet {
                @include fluid-type($min_width, $size-xl, 14px, 16px);
                line-height:1.45;

                a {
                  text-decoration: none;
                  color: var(--color-pink);
                  word-break: break-all;
                }
              }

              .user, .interact {
                display: none;
              }

              .media {
                display: none;

                &:first-of-type {
                  display: block;
                  margin-top: 20px;
                }
                img {
                  width: auto;
                  height: auto;
                  max-height: 200px;
                  max-width: 100%;
                }
              }

              max-width: 270px;

              @include breakpoint($lg) {
                max-width: 320px;
              }

            }
        }
    }
}


// .user, .tweet, .timePosted {
//   float:left;
// }

// .user {
//   width:25%;
// }

// .tweet {
//   width:50%;
// }

// .timePosted {
//   width:15%;
// }

// .user {
//   clear:left;
// }

// .user a {
//  width: 100px;
// }

// .user span span {
//   width:100px;
//   display:block;
//   margin-top:10px;
// }

// .user img, .user a > span {
//   float:left;
// }

// .user div {
//  clear: left; 
// }

// .interact {
//   float:left;
//   width:10%;
//   margin-top:-7px;
// }

// .interact a {
//   margin-left:5px;
//   float:left;
// }

// .user a > span {
//   margin-left:10px;
// }

// .media img {
//   max-width:250px;
//   max-height:250px;
// }

// #linkage {
//   position:fixed;
//   top:0px;
//   right:0px;
//   background-color:#3d3d3d;
//   color:#ffffff;
//   text-decoration:none;
//   padding:5px;
//   width:10%;
//   font-family:arial;
// }

// .tco-hidden{
//   display: none;
// }