/******************************************************************
// Alignment
******************************************************************/


/**
 * Block
 */
.align-bottom {
	align-self: flex-end;
}


.centered {
	margin-left: auto;
	margin-right: auto;
}


.right {
	margin-left: auto;
}

.left {
	margin-right: auto;
}
