/******************************************************************
// Avatar
******************************************************************/


/**
 * Block
 */
.avatar {
	display:inline-block;
	border-radius:200px;
	
	// @include css4 {
	// 	background-color: var(--color-black);
	// }

	.image,
	img {
		border-radius:200px;
	}



}


/**
 * Modifiers
 */
.avatar {
	&--md {
		img {
			border-radius:140px;
			width: 140px;
			height: 140px;

			@include breakpoint($lg) {
				border-radius:180px;
				width: 180px;
				height: 180px;
			}
		}
	}

	&--timeline {
		img {
			border-radius:75px;
			max-width: 75px;

			@include breakpoint($md) {
				border-radius:110px;
				max-width: 110px;
			}

			@include breakpoint($mdlg) {
				border-radius:180px;
				max-width: 180px;
			}

			@include breakpoint($lg) {
				border-radius:220px;
				max-width: 220px;
			}
		}
	}

	&--sm {
		img {
			border-radius:80px;
			width: 80px;
			height: 80px;
		}
	}

}
