/******************************************************************
// Box
******************************************************************/


/**
 * Background colours
 */
.bg {
	display: block;
}


/**
 * Modifiers
 */
.bg {
	
	&--light {
		background-color: var(--color-grey-light-2);
	}


	&--grad-purple {
		//background-image: linear-gradient(270deg, #652F88 0%, #E00069 100%);
		background-image: linear-gradient(132deg, #E00069 14%, #652F88 86%);
	}
	&--grad-green {
		//background-image: linear-gradient(270deg, #652F88 0%, #E00069 100%);
		background-image: linear-gradient(132deg, #3AA557 14%, #00ADA1 86%);
	}
	&--grad-orange {
		//background-image: linear-gradient(270deg, #652F88 0%, #E00069 100%);
		background-image: linear-gradient(132deg, #DA5524 14%, #652F88 86%);
	}
	&--grad-blue {
		//background-image: linear-gradient(270deg, #652F88 0%, #E00069 100%);
		background-image: linear-gradient(132deg, #4477BB 14%, #88BFDF 86%);
	}

	&--grad-white-fade {

		background-image: linear-gradient(141deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.00) 79%);
	}


}



.bg--shape {
	z-index: 1;
	position: absolute;
	height: auto;

	top: 58px;
	right: -30vw;
	width: 110%;


	@include breakpoint($lg) {
	    top: 6vw;
	    right: -22vw;
	    width: 80%;

	}
}




.bg--shape-large {
	z-index: 1;
	position: absolute;
	height: auto;

	top: 80vw;
    right: -42vw;
    width: 140%;

    svg {
		vertical-align: top;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
    }


	@include breakpoint($mdlg) {
		top: 0;
		bottom: 0;
	}
}



.bg--shape-fixed {
	z-index: 1;
	position: fixed;
	height: auto;

	top: 24vh;
	right: -42vw;
	width: 120%;

	@include breakpoint($mdlg) {
		top: 24vh;
		right: -42vw;
		width: 120%;
	}

	@include breakpoint($lg) {
		top: 16vh;
		right: -25vw;
		width: 80%;
	}
}











@keyframes rotate {
	0%   {
		transform: rotate(0deg);
	}
	100%   {
		transform: rotate(360deg);
	}
}


.bg--corecologo {
	z-index: 1;
	position: absolute;
	height: auto;
	animation: rotate 120s linear 1s infinite; 

	max-width: 140px;
	top: 20vw;
	right: -16vw;
	width: 60%;
	opacity: 0.4;

	@include breakpoint($md) {
		top:21vw;
	    left: 3vw;
	    max-width: 220px;
	}

	@include breakpoint($mdlg) {
		top: 23vw;
		left: auto;
		right: 0vw;
	}

	@include breakpoint($lg) {
		max-width: 340px;
		right: 3vw;
	}

	@include breakpoint($xl) {
		top: 18vw;
		max-width: 400px;
		right: -6vw;
	}

}


.page-template-template-coreandco {
	.bg--corecologo {
		position:fixed;

		@include breakpoint($md) {
			top: 45vh;
			right: -6vw;
			left: auto;
		}

		@include breakpoint($mdlg) {
			top: 55vh;
			right: -6vw;
		}

		@include breakpoint($lg) {
			right: -6vw;
		}

		@include breakpoint($xl) {
			top: 55vh;
			right: -6vw;
		}
	}
}










