/******************************************************************
// Box
******************************************************************/


/**
 * Box padding
 */
.box {
	background-color:white;
	box-shadow: 0 20px 60px 0 rgba(0,0,0,0.04);
}


/**
 * Modifiers
 */
.box {

	&--padding {
		padding:1.5rem;
	}
	&--padding-lg {
		padding:1.5rem;

		@include breakpoint($md) {
			padding:2rem;
		}
		@include breakpoint($lg) {
			padding:3rem;
		}
	}
}