/******************************************************************
// Button
******************************************************************/


/**
 * Button
 */
.btn,
body .nf-form-layout .nf-form-content button,
body .nf-form-layout .nf-form-content input[type=button],
body .nf-form-layout .nf-form-content input[type=submit] {
	display: block;
	vertical-align: middle;
	font-family:$tertiary-font;
	font-weight:600;
	text-align: center;
	margin: 0;
	cursor: pointer;

	padding: 15px 23px 14px;
	min-height:50px;
	height: auto;
	font-size: 14px;
	text-transform: uppercase;

	transition: color 200ms $easing, background-color 200ms $easing, border-color 200ms $easing, transform 200ms $easing;

	background-color: var(--color-pink);
	color: #fff;
	border: none;
	border-radius: var(--border-radius);

	@include breakpoint($md) {
		display:inline-block;
	}

	@media (hover: hover) {
		&,
		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}

		&:hover,
		&:focus {
			background-color:  var(--color-purple);
			transform: translate3d(0,-2px,0);
		}
	}
}


body .nf-form-layout .nf-form-content button,
body .nf-form-layout .nf-form-content input[type=button],
body .nf-form-layout .nf-form-content input[type=submit] {
		font-size: 17px;
		padding: 22px 46px 22px
}


/**
 * Modifiers
 */
.btn {

	&--lg {
		font-size: 17px;
		padding: 22px 46px 22px
	}

	&--wide {
		display: block;
		max-width: 300px;
	}


}






/**
 * Replacing some defaults
 */
button {
    border: none;
    padding: 0;
    background:none;

    &:active,
    &:focus {
    	outline: none;
    }
}
