/******************************************************************
// Collapse
******************************************************************/


/**
 * Block
 */

// stylelint-disable selector-no-qualifying-type


.collapse {
  display: none;
  &.show {
    display: block;
  }
}

tr {
  &.collapse.show {
    display: table-row;
  }
}

tbody {
  &.collapse.show {
    display: table-row-group;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  will-change: height;
  transition: height 350ms $easing;
}




/**
 * Elements
 */
.collapse-trigger {
	font-family:$secondary-font;
	font-weight:600;
	text-transform: uppercase;
	letter-spacing: 0.088em;
	font-size: 14px;
	text-decoration: underline;
	cursor: pointer;
  background: transparent;

  &.collapsed:after {
    content:'Read more';
  }

  &:after {
    content:'Hide extra info';
  }


		color: var(--color-black);
		text-decoration-color: var(--color-black-3);
	


  @media (hover: hover) {
    &:hover,
    &:focus {     

        color: var(--color-pink);
      
    }
  }


}




.accordion {
  border-bottom:2px solid var(--color-grey-light-2);
  background-color: white;

  &__trigger {
    border-top:2px solid var(--color-grey-light-2);
    padding: 1.2rem 2.5rem 1.2rem 1.2rem;
    cursor: pointer;
    position:relative;
    background-color: white;
    color: var(--color-aqua); 

    @media (hover: hover) {
      &:hover,
      &:focus {
        text-decoration: underline;
        color: var(--color-pink) !important;    
      }
    }


    &.collapsed {
        color: var(--color-grey-dark-2);
        

        svg {
          transform:rotate(0deg);
          stroke: var(--color-grey);
        }   
    }

    svg {
      position: absolute;
      right: 6px;
      top: 13px;
      width: 26px;
      height: 26px;
      stroke: var(--color-aqua);
      transform:rotate(180deg);

      @include breakpoint($mdlg) {
        right: 10px;
        top: 11px;
        width: 40px;
        height: 40px;
      }
    }
    
    @include breakpoint($mdlg) {
      padding:1.25rem 3.5rem 1.25rem 1.25rem;
    }

  }

  &__inner {
    padding: 0rem 1.5rem 1.5rem;
    background-color:white;
  }

  &__target {

  }
}



/**
 * Modifiers
 */
.accordion--mob-only {
  @include breakpoint($md) {
    &.accordion {
      border:none;
    }
    .accordion__trigger {
      display: none;
    }
    .collapse {
      display:block !important;
    }
  }

  @include breakpoint(0 $md) {
    &.accordion {
      //margin-bottom: -2px;
    }
  }
}