/******************************************************************
// Display
******************************************************************/


.dn {              display: none !important; }
.db {              display: block !important; }
.dib {             display: inline-block !important; }

.inline-block {
	display: inline-block;
}

@include breakpoint($md) {
  .dn-md {              display: none !important; }
  .db-md {              display: block !important; }
  .dib-md {             display: inline-block !important; }
}

@include breakpoint($mdlg) {
  .dn-mdlg {              display: none !important; }
  .db-mdlg {              display: block !important; }
  .dib-mdlg {             display: inline-block !important; }
}


@include breakpoint($lg) {
  .dn-lg {              display: none !important; }
  .db-lg {              display: block !important; }
  .dib-lg {             display: inline-block !important; }
}

@include breakpoint($xl) {
  .dn-xl {              display: none !important; }
  .db-xl {              display: block !important; }
  .dib-xl {             display: inline-block !important; }
}



.of-h {
  overflow:hidden !important;
}
.of-v {
  overflow: visible !important;
}


.ofx-h {
  overflow-x:hidden !important;
}