/******************************************************************
// Divider
******************************************************************/


/**
 * Block
 */
hr {
	border:none;
	height: 4px;
	background-color: var(--color-grey-light-2);
	margin: 0;	
}



/**
 * Modifiers
 */
