/******************************************************************
// Form types
******************************************************************/

.nf-before-form-content {
	margin-bottom: 1rem;
}

.nf-form-content {
    padding: 0px;
    max-width: none; 
}

.nf-field-label label {
  font-family:$secondary-font;
  font-weight:700;
  display: block;
  text-transform: uppercase;
  letter-spacing: normal;
  color: var(--color-grey-dark-2);
  @include fluid-type($min_width, $size-xl, 18.20px, 28.43px);
}

.nf-error .ninja-forms-field {
	border-color: #F44336!important;
}

.nf-error.field-wrap .nf-field-element:after {
	content: none !important;
}

.nf-after-field .nf-error-msg {
	font-size: 14px;
}

.nf-field-description {
	margin-bottom: 12px;
}