/******************************************************************
// Form styles
******************************************************************/


/**
 * Buttons
 */

// button,
// input[type="submit"],
// input[type="reset"],
// input[type="button"] {
// 	display: inline-block;
// 	height: 38px;
// 	padding: 0 30px;
// 	color: #555;
// 	text-align: center;
// 	font-size: 11px;
// 	font-weight: 600;
// 	line-height: 38px;
// 	letter-spacing: .1rem;
// 	text-transform: uppercase;
// 	text-decoration: none;
// 	white-space: nowrap;
// 	background-color: transparent;
// 	border-radius: 4px;
// 	border: 1px solid #bbb;
// 	cursor: pointer;
// 	box-sizing: border-box;
// }

// Considering porting these classes on to the .btn module


/**
 * Form elements
 */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select,
body .nf-form-layout .nf-form-content input:not([type=button]),
body .nf-form-layout .nf-form-content textarea {
	height: 54px;
	padding: 6px 24px 6px 8px; 
	border-radius: 5px;
	border: 2px solid var(--color-grey-light-2);
	box-sizing: border-box;
	width:100%;
	font-size:16px;
	font-family:$base-font;
  	font-weight:500;
	color: var(--color-grey);

	background-color: var(--color-white);
	
}



/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
button,
textarea {
	-webkit-appearance: none;
	 -moz-appearance: none;
	      appearance: none;
}

textarea,
body .nf-form-layout .nf-form-content textarea {
	min-height: 180px;
    padding: 14px 20px;
    line-height: 1.3;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus,
body .nf-form-layout .nf-form-content textarea:focus,
body .nf-form-layout .nf-form-content input:not([type=button]):focus  {

	outline: 0;
	color: var(--color-grey-dark);
	border-color: var(--color-grey);
}

label,
legend {
	display: block;
	margin-bottom: .5rem;
	font-weight: 600;
}

fieldset {
	padding: 0;
	border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
	  display: inline;
}

label > .label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}



.form--lg {
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	textarea,
	select {
		height: 58px;
		font-size: 18px;
		padding: 6px 12px 6px 14px; 
	}
}



.city,
.address-line-one,
.address-line-two,
.county,
.country,
.phone {
	input {
		max-width: 20rem;
	}
}

.postcode {
	input {
		max-width: 8rem;
	}
}
