/******************************************************************
// Hamburger
******************************************************************/


/**
 * Element
 */
.hamburger {
	width: 21px;
	display: block;
	height: 2px;
	position: absolute;
        left: 56px;
    bottom: 22px;
	margin: 0 15px 0;
	transition: 250ms background-color $easing;
	border: none;
	background-color: var(--color-grey-dark-2);
	

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: 250ms transform $easing;
		background-color: var(--color-grey-dark-2);
	}

	&:focus {
		outline: 0;
	}

	&:before {
		transform: translateY(-7px);
		width: 27px;
	}

	&:after {
		transform: translateY(7px);
		width: 23px;
	}

	&--close {
		background-color: transparent;
		transform: scale(0.8);
		transform-origin: center;

		&:before {
			transform: rotate(45deg) scaleX(1);
			width: 23px;
		}

		&:after {
			transform: rotate(-45deg);
			width: 23px;
		}
	}
}

.hamburger-label {
    position: relative;
    top: -1px;
    right: 17px;
	
	span {
		font-family:$tertiary-font;
		font-weight:600;
		text-transform: uppercase;
		letter-spacing: 0.088em;
		font-size: 14px;
		color: var(--color-grey-dark-1);
	}
}



.header__menu-btn__trigger,
.mobile-menu__menu-btn__trigger {
    @media (hover: hover) {

    	.hamburger {
    		transition: 150ms width var(--easing);
    	}

        .hamburger:before,
        .hamburger:after,
        .hamburger--close {
        	transition: 150ms width var(--easing), 150ms transform var(--easing);
        }


    	&:hover {

        	.hamburger {
            	width: 27px;
            }

        	.hamburger-label span {
            	color: var(--color-grey-dark-2);
            }

            .hamburger,
            .hamburger:before,
        	.hamburger:after {
            	background-color: var(--color-grey-dark-2) !important;
            }

            .hamburger {
				&:before {
					width: 23px;
				}

				&:after {
					width: 21px;
				}
            }
            .hamburger--close {
            	transform: rotate(-90deg) scale(0.8);
            	background-color: transparent !important;
            	width: 23px !important;

				&:before {
					transform: rotate(45deg) scaleX(1);
					width: 23px;
				}

				&:after {
					transform: rotate(-45deg);
					width: 23px;
				}
            }
        }
    }
}