/******************************************************************
// Icons - positioning, css based and more
******************************************************************/


/**
 * Icons
 */
svg[class^="i-"] {
	width:34px;
	height:34px;	
}


/**
 * Icon sizes
 */
 svg.icon--sm {
	width:24px;
	height:24px;
}

svg.icon--align-m {
	vertical-align: sub;
}


/**
 * Icon colours
 */
