/******************************************************************
// iFrames
******************************************************************/


/**
 * Container for exhibition block
 */
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 75%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-container {
	margin-bottom: 1.5rem;
}

.content-editor {
	overflow-x: auto;
}
