/******************************************************************
// Image behaviors and overrides
******************************************************************/


/**
 * Block
 */

.image {
	display: block;
	width: 100%;
	background-color: var(--color-grey-light-2);

	img {
		width: 100%; 
	    display: block; 
	    height: auto;		
	}
}

img {
	vertical-align: bottom;
	width: 100%;
	height: auto;
}



/**
 * Modifiers
 */

.image--4x4,
.image--3x4,
.image--4x3,
.image--4x2 {
	position:relative;

	img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		font-family: "object-fit: cover";
	}
}

.image {
	&--4x2 {
		padding-top: calc(2 / 4 * 100%);
	}
	&--3x4 {
		padding-top: calc(4 / 3 * 100%);
	}
	&--4x3 {
		padding-top: calc(3/ 4 * 100%);
	}
	&--4x4 {
		padding-top: calc(4 / 4 * 100%);
	}

	&--x-small {
		padding:0 4vw;
	}
	&--x-large {
		padding:0 10vw;
	}
}