/******************************************************************
// Link arrow
******************************************************************/


/**
 * Block
 */
.link-arrow {
	stroke: white;
	width: 36px;
	position: absolute;
	right: 24px;
	bottom: 20px;
	transition: transform 200ms var(--easing);
}


/**
 * Modifiers
 */
.link-arrow {
	&__pink {

	}
}