/******************************************************************
// Lists - 
******************************************************************/


/**
 * Regular list
 */
ul,
ol {
	margin-bottom: 1.5rem;
	padding-left:1.2rem;

	li {
		margin: 0 0 0.25rem;

		&:last-of-type {
			margin-bottom: 0;
		}
		p {
			margin:0;
		}
	}
}

ul {
	list-style: none;

	li {
		position:relative;
	}

	li::before {
		content: "\2022";
		font-weight: bold;
		display: inline-block;
		width: 1.5rem;
	    font-size: 1.5em;
	    left: -1.25rem;
	    position: absolute;
	    top: -9px;
		font-family:$secondary-font;
		font-weight:700;
		color:var(--color-aqua);

	}
}

ol {
	list-style: none;
	counter-reset: li;

	li {
		counter-increment: li
	}
	li::before {
		content: counter(li);
		display: inline-block;
		width: 1.5rem;
		margin-left: -1rem;
		font-family:$secondary-font;
		font-weight:700;
		color:var(--color-aqua);
	
	}
}




/**
 * Inline list
 */
.list-inline {
	margin: 0;
	padding-left: 0;
	list-style: none;

	li {
		display: inline-block;
		margin:0;

		&::before {
			content:none;
		}
	}
}


/**
 * List bare
 */
.list-bare {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0;

		&::before {
			content:none;
		}
	}
}



/**
 * List menu
 */
.list-menu {
	margin:0;
	padding:0;

	li {
		margin: 0 0 0.75rem;

		&:last-of-type {
			margin-bottom: 0;
		}

		&::before {
			content:none;
		}

		a {
			text-decoration: underline;

			@media (hover: hover) {
				transition: color 150ms $easing;

				&:hover {
					
						color:var(--color-green-vibrant);
					
				}
			}
		}
	}
}



/**
 * List menu
 */
.list-icon {
	margin:0;
	padding:0;

	li {
		margin: 0;

		&::before {
			content:none;
		}

		&:last-of-type .list-item {
			margin-bottom: 0;
		}
	}


	.list-item {
		margin: 1rem 0;
		padding-left: 2.75rem;
		position: relative;

		&::before {
			content:'';
			width: 32px;
			height: 32px;
			margin-left: 0;
			left: 0;
			top:-6px;
			position: absolute;
			background-size:cover;
		}
	}


	&--small {
		.list-item {
			margin: 0 0 1.75rem;
		}
	}

	&--tick {
		.list-item::before {
			background-image: url('dist/imgs/list-tick.svg');
		}
	}
	&--bullet {
		.list-item {
			padding-left: 1.75rem;
		}
		.list-item::before {
			background-image: url('dist/imgs/list-bullet.svg');
		}
	}
}
