.next-prev {
    margin: 30px 0;
    padding: 30px 0;    

    &__inner {
        display: flex;
        max-width: 820px;
        margin: 0 auto;
    }

    &__link {
        display: flex;
        width: 50%;

        svg {
            stroke: var(--color-pink);
        }

        &--next {
            margin-right: 0;
            margin-left: auto;
            text-align: right;

            svg {
                transform: rotate(-90deg);
            }
        }

        &--prev {
            svg {
                transform: rotate(90deg);
            }
        }

        &__arrow {
            align-self: center;
            max-width: 22px;
        }

        &__content {
            flex: auto;
            padding: 0 10px;

            @include breakpoint($md) {
                padding: 0 30px;
            }

        }

        &:hover .copy {
            text-decoration: underline;
        }
        
    }

}