/******************************************************************
// Section
******************************************************************/


/**
 * Main section styling
 */
.section {
	position:relative; 
	margin:14vw 0;

	@include breakpoint($md) {
		margin:12vw 0;
	}

	@include breakpoint($lg) {
		margin:10vw 0;
	}
	@include breakpoint($xl) {
		margin:8vw 0;
	}
}


/**
 * Elements
 */
.section {
	// &-heading {
	// 	margin-bottom: 2rem;

	// 	@include breakpoint($md) {
	// 		margin-bottom: 2.5rem;
	// 	}

	// 	@include breakpoint($lg) {
	// 		margin-bottom: 3.5rem;
	// 	}
	// }

	&-content {
		margin: var(--spacing-large) 0;
	}
	&__anchor {
		@include breakpoint($md) {
			position:relative;
			top:-73px;
		}
	}
}



/**
 * Modifiers
 */
.section {
	&--none {
		margin:0;
	}

	&--sm {
		position:relative;
	
		margin:7vw 0;

		@include breakpoint($md) {
			margin:6vw 0;
		}

		@include breakpoint($lg) {
			margin:5vw 0;
		}
		@include breakpoint($xl) {
			margin:4vw 0;
		}
	}
	// &--lg {
	// 	margin:5rem 0;

	// 	// @include breakpoint($lg) {
	// 	// 	margin:5rem 0;
	// 	// }
	// }

	&--bg {
		//padding:3rem 0;
		padding:2rem 0;

		@include breakpoint($lg) {
			//padding:5rem 0;
			padding:3.5rem 0;
		}
	}

	&--bg-lg {
		position:relative;
		padding:16vw 0;

		@include breakpoint($md) {
			padding:12vw 0;
		}

		@include breakpoint($lg) {
			padding:10vw 0;
		}
		@include breakpoint($xl) {
			padding:8vw 0;
		}

		.wrapper {
			position:relative;
			z-index: 2;
		}
	}


	// &--bg-mid {
	// 	padding:1rem 0;

	// 	@include breakpoint($lg) {
	// 		padding:1.5rem 0;
	// 	}
	// }

	// &--bg-sm {
	// 	padding:10px 0;
	// }

	// &--content {
	// 	.row {
	// 		margin-bottom: 2rem;
	// 	}

	// 	.row:last-of-type {
	// 		margin-bottom: 0;
	// 	}
	// }

	// &__text-image-content {
	// 	@include breakpoint(0 $md) {
	// 		margin-top:1.75rem;
	// 	}
	// }



	// &.mb-xl {
	// 	@include breakpoint(0 $md) {
	// 		margin-bottom: 2rem !important;
	// 	}
	// }
	// &.mt-xl {
	// 	@include breakpoint(0 $md) {
	// 		margin-top: 2rem !important;
	// 	}
	// }
}


