/******************************************************************
// Social icons
******************************************************************/


/**
 * Social icons
 */
.social-icons {
	li {
		margin:0 0.45rem;
	}

	svg {

			fill: var(--color-pink);
		
	}

	a svg {
		@media (hover: hover) {
			&:hover,
			&:focus {
				fill: var(--color-purple);
			}
		}
	}

	&--white {
		svg {

				fill: var(--color-white);
			
		}
	}

	&--left {
		li:nth-of-type(1) {
			margin-left:0;
		}
	}

	&--blog-index {

		@include breakpoint(0 $md) {
			margin: 0;
			padding-left: 0;
			list-style: none;

			li {
				display: inline-block;
				margin:0 20px 20px 0;
			}
		}

		@include breakpoint($md) {
			position: absolute;
			top:0;
			margin-left: -6rem;

			li {
				margin-bottom: 3vw;
			}
		}

		@include breakpoint($mdlg) {
			margin-left: -8rem;
		}
	}
}
