/******************************************************************
// Display
******************************************************************/


// Margin bottom 
.mb-0 {
	margin-bottom: 0rem !important;
}

.mb-xs {
	margin-bottom: 0.25rem !important;
}

.mb-sm {
	margin-bottom: 0.5rem !important;
}

.mb {
	margin-bottom: 1rem !important;
}

.mb-md {
	margin-bottom: 1.5rem !important;
}

.mb-lg {
	margin-bottom: var(--spacing-big) !important;
}

.mb-xl {
	margin-bottom: var(--spacing-large) !important;
}

.mb-xxl {
	margin-bottom: var(--spacing-large) !important;
	
	@include breakpoint($md) {
		margin-bottom: var(--spacing-extra-large) !important;
	}
}

.mb-xxxl {
	margin-bottom: var(--spacing-extra-extra-large) !important;
}


.mb-grid {
	margin-bottom: calc( var(--grid-width) * 2) !important;
}

.mb-grid--sm {
	margin-bottom: calc( var(--grid-width) / 2) !important;
}


// Margin top 


.mt {
	margin-top: 1rem !important;
} 



.mt-xl {
	margin-top: var(--spacing-large);
} 

