/******************************************************************
// Table styling
******************************************************************/

/* Center tables for demo */
table {
  margin: 0 auto;
  overflow-x: auto;
}

/* Default Table Style */
table {
  color: #333;
  background: white;
  @include fluid-type($min_width, $size-xl, 13px, 15px);
  border-collapse: collapse;
}
table thead th,
table tfoot th {
  color: #777;
  background: rgba(0,0,0,.1);
}

table thead th,
table tfoot th {
  color: #777;
  background: rgba(0,0,0,.1);
}
table caption {
  padding:.5em;
}
table th,
table td {
  padding: 8px 10px;
  border-bottom: 1px solid #d3d3d3;
}


