/******************************************************************
// text link
******************************************************************/


/**
 * Button
 */
.text-link {
	display: inline-block;
	font-family: $tertiary-font;
	font-weight:600;
	cursor: pointer;
	padding: 3px 0px;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 3px;
	color: var(--color-pink);

	transition: color 150ms var(--easing), border-color 150ms var(--easing);




	@media (hover: hover) {
		&,
		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}

		&:hover,
		&:focus {
			color: var(--color-purple);
		}
	}

	&:active {
		border-color: rgba(0,0,0,0.1);
	}
}



/**
 * Modifers
 */
.text-link {

	&__arrow-right {


		svg {
			
		}
	}

}