/******************************************************************
// Typography
******************************************************************/



/**
 * Headings 1–5.
 * Caluclated on the 1.333 'Perfect fourth' scale
 */
h1, .heading-1, h2, .heading-2, h3, .heading-3, h4, .heading-4, h5, .heading-5, h6, .heading-6,  .heading-short-statement, .heading-long-statement {
font-family:$secondary-font;
font-weight:700;
display: block;
text-transform: uppercase;
letter-spacing: normal;
color: var(--color-grey-dark-2);
}

h1, .heading-1, .heading-short-statement, .heading-long-statement {
  line-height: 0.85;
}

h2, .heading-2, h3, .heading-3, h4, .heading-4, h5, .heading-5, h6, .heading-6 {
  line-height: 1;
}

.heading-short-statement {
  @include fluid-type($min_width, $size-xl, 38px, 159.5px);

  // @include breakpoint($xl) {
  //   font-size: 10.5vw;
  // }
}

.heading-larger {
  @include fluid-type($min_width, $size-xl, 35px, 120px);

  @include breakpoint($xl) {
    @include fluid-type($size-xl, $size-xxl, 120px, 140px);
  }
}


.heading-long-statement {
  @include fluid-type($min_width, $size-xl, 26.65px, 78.76px);

  // @include breakpoint($xl) {
  //   font-size: 6vw;
  // }
}


h1, .heading-1 {
  @include fluid-type($min_width, $size-xl, 35px, 110.66px);

  // @include breakpoint($xl) {
  //   font-size: 7vw;
  // }
}

h2, .heading-2 {
  @include fluid-type($min_width, $size-xl, 26.65px, 50.52px);

  // @include breakpoint($xl) {
  //   font-size: 3.35vw;
  // }
}

h3, .heading-3, .content-editor h2 {
  @include fluid-type($min_width, $size-xl, 21.04px, 37.9px);
}

h4, .heading-4, .content-editor h3 {
  @include fluid-type($min_width, $size-xl, 18.20px, 28.43px);
}

h5, .heading-5, .content-editor h4 {
  @include fluid-type($min_width, $size-xl, 16px, 21.3px);
}

h6, .heading-6 {
  @include fluid-type($min_width, $size-xl, 13.33px, 16px);
}


.copy-lg,
.copy-sm,
p {
  //max-width: 34em;
  //max-width: 36rem;
  max-width: 42rem;
}

.copy-lg,
.copy-lg p {
  font-size: 18px;

  @include breakpoint($sm) {
    @include fluid-type($min_width, $size-xl, 19px, 24px);
  }
}

p,
.copy {
  font-size: 14px;

  @include breakpoint($sm) {
    @include fluid-type($min_width, $max, 16px, 19px);
  }
}

.copy-sm,
.copy-sm p {
  @include fluid-type($min_width, $size-xl, 14px, 16px);
  line-height:1.45;
}


.copy-xsm,
.copy-xsm p {
  @include fluid-type($min_width, $size-xl, 13px, 15px);
  line-height:1.35;
}


.body-font {
  font-family:$base-font;
}


.last-p {
  p:last-of-type {
    margin-bottom: 0;
  }
}


p a {
    color:var(--color-pink);
}


.fw-5 {
	font-weight: 500;
}

.fw-7 {
  font-weight: 700;
}


.lh-small {
	line-height: 1.2;
}
.lh-med {
  line-height: 1.3;
}
.lh-copy {
	line-height: 1.5;
}



.tc {
	text-align: center;
}
.tl {
	text-align: left !important;
}
.tr {
  text-align: right;
}



.tt-c {
  text-transform: capitalize;
}


.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}



.subtle {
  opacity:0.5;
}

blockquote {
  border-left: 6px solid var(--color-aqua);
  margin: 2rem 0;
  padding-left: 2rem;

  p {
    font-size: 110%;
    font-style: italic;
  }
}



strong {
  font-weight: 400;
}

.c--white {
  color: #fff;
}


.c--grey-light-1 {
  color: var(--color-grey-light-1);
}


