/******************************************************************
// Video
// Youtube embeds
******************************************************************/


/**
 * Video block
 */
figure.video-wrapper  {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	margin: 0;
}


/**
 * Video elements
 */
figure.video-wrapper {

	object,
	embed,
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow:5px;
	}
}






/**
 * Audio block
 */
figure.audio-wrapper  {
	position: relative;
	padding-bottom: 26.25%;
	height: 0;
	margin: 0;
}


/**
 * Video elements
 */
figure.audio-wrapper {

	object,
	embed,
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow:5px;
	}
}
