/******************************************************************
// Width
******************************************************************/

.w-100 { width: 100%; }

/**
 * Block
 */
 @include breakpoint($md) {
	.w-20 { max-width: 20rem; }
	.w-25 { max-width: 25rem; }
	.w-27 { max-width: 27rem; }
	.w-30 { max-width: 30rem; }
	.w-35 { max-width: 35rem; }
	.w-40 { max-width: 40rem; }
	.w-50 { max-width: 50rem; }
}

/**
 * Modifiers
 */
