/******************************************************************
// Wrapper
******************************************************************/


.site-wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 1800px;
	background-color: var(--color-grey-light-3);

	@include breakpoint($xl) {
		max-width: 2000px;
	}
}

/**
 * Main wrapper styling
 */
.wrapper {
	// position:relative;
	// z-index: 2;
	margin-right: auto;
	margin-left:  auto;
	max-width: 540px;
	width:100%;
	padding:0 var(--logo-spacing-left);

	@include breakpoint($md $mdlg) {
		padding: 0 20px 0 calc( var(--logo-width) + -2vw)
	}

	@include breakpoint($md) {
		max-width: 1400px;
	}

	@include breakpoint($xl) {
		max-width: 1650px;
	}
}

.wrapper--offset {
	@include breakpoint($mdlg) {
		padding-left: calc( var(--logo-width) + 24px);
	}

	@include breakpoint($lg) {
		padding-left: calc( var(--logo-width) + 50px);
	}

	@include breakpoint($xl) {
		padding-left: calc( var(--logo-width) + 6vw);
	}

	@include breakpoint($xxl) {
		padding-left: calc( var(--logo-width) + 4vw);
	}
}


// .wrapper--heading {
// 	@include breakpoint($mdlg) {
// 		padding-right: calc( var(--logo-spacing-left) / 2);
// 	}

// 	@include breakpoint($lg) {
// 		padding-right: calc( var(--logo-spacing-left) / 2);
// 	}

// 	@include breakpoint($xl) {
// 		padding-right: calc( var(--logo-spacing-left) / 2);
// 	}
// }



/**
 * Modifiers
 */
.wrapper {
	&--small {
		@include breakpoint($lg) {
			margin: 0 auto;
			width: 77%;
			max-width: 720px;

			p {
				max-width: none;
			}
		}
	}
	&--wide {
	}
	&--z {
		position: relative;
		z-index: 10;
	}
}


