/******************************************************************
// Links
******************************************************************/


/**
 * Block
 */
.link-rows {

}

.link-rows {
	&__link {


		svg {
			width: 32px;
			height:32px;
		}
	}
}