/******************************************************************
// Tiemline entry
******************************************************************/


/**
 * Block
 */
.link-rows {
}


/**
 * Elements
 */
.link-rows {
	&__link,
	&__link-fake {
		display:block;
		padding:15px 10px 15px 50px;
		border-bottom:none;
		position:relative;		
		background-color:#fff;		
		margin-bottom: 3px;

		@include breakpoint(0 $md) {
			font-size:15px;
		}

		@include breakpoint($md) {
			padding:17px 20px 17px 75px;
		}
		@include breakpoint($lg) {
			padding:19px 25px 19px 85px;
		}


		&:first-of-type {
			border-top:3px solid var(--color-grey-light-3);
		}
		&:last-of-type {
			border-bottom:3px solid var(--color-grey-light-3);
			margin-bottom: 0;
		}

	}

	&__link {

		@media (hover: hover) {
			transition: color 200ms $easing, background-color 200ms $easing, padding 200ms $easing;

			&:hover {
				text-decoration: underline;
				background-color: var(--color-grey-light-3);
				color: var(--color-purple);
				padding:15px 5px 15px 55px;

				@include breakpoint($md) {
					padding:17px 15px 17px 80px;
				}
				@include breakpoint($lg) {
					padding:19px 20px 19px 90px;
				}

				.link-rows__pre-icon {
					stroke: var(--color-purple);
				}
			}
		}
	}
	&__pre-icon {
		position:absolute;
	    top: 10px;
	    left: 11px;
	    width: 26px;
	    height: 26px;

		stroke: var(--color-pink);
		fill: transparent;

	    transition: stroke 200ms $easing;

		@include breakpoint($md) {
			top: 11px;
			left: 16px;
			width:32px;
			height:32px;
		}
		@include breakpoint($lg) {
			top: 17px;
			left: 22px;
		}
		
	}
	&__text {
		font-family:$base-font;
		font-weight:400;
		font-size: 18px;
		margin: 0.25rem 0 0 0;
			

	}
	&__post-icon {
		
	}
}


.accordion__inner {
	.link-rows__link,
	.link-rows__link-fake {
		background-color: var(--color-grey-light-3);

		&:first-of-type {
			border-top:3px solid var(--color-grey-light-3);
		}
		&:last-of-type {
			border-bottom:3px solid var(--color-grey-light-3);
		}
	}

	.link-rows__link {
		@media (hover: hover) {
			&:hover {
				background-color: var(--color-white);
			}
		}
	}
}