/******************************************************************
// Mobile menu & sidebar
******************************************************************/

/**
 * Block
 */

.mobile-menu {
    position: fixed;

    top: 0px;
    right: 0px;
    z-index: 100;
    height: 100%;
    width: 100%;

    visibility: hidden;
    transform: translateX(100%);
    opacity: 0;
    
    backface-visibility: hidden;
    background: var(--color-white);

    @include breakpoint($mdlg) {
        display: none;
    }

    // @include breakpoint(0 559px) {
    //     top: 118px;
    //     min-height: calc(100vh - 118px);
    // }

    // @include breakpoint(560px $mdlg) {
    //     top: 98px;
    //     min-height: calc(100vh - 98px);
    // }

    &__menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;

        &__trigger {
            position:relative;
            // top: 5px;
            // right: -14px;
            height: 48px;
            width: 110px;
            padding-top: 3px;
            background-color: white;
            //box-shadow: 0 8px 37px 0 rgba(186, 155, 103, 0.45);
            cursor:pointer;

            &:focus {
                outline: 0;
            }

            @include breakpoint($md) {
                // top: -10px;
                // right: -11px;
            }
        }
    }

    // div nav {
    //     > ul {
    //         &:nth-of-type(2) {
    //             li a {
             
    //                     color: var(--color-black);
                    
    //             } 
    //         }
    //         &:nth-of-type(1),
    //         &:nth-of-type(3) {
    //             li a {
    //                 font-size: 14px;

    
    //             }
    //         }
    //     }
    // }

    .mobile-menu__primary {
        padding: 70px 0px;

        @include breakpoint($sm) {
            padding: 70px 15px;
        }

        @include breakpoint($md) {
            padding: 70px 30px;
        }
    }

    .mobile-menu__primary 
    ul > li {
        font-family:$secondary-font;
        font-weight:700;
        text-transform: uppercase;
        @include fluid-type($min_width, $md, 24px, 37px);

        display:block;
        margin-bottom: 6px;
        color: var(--color-black);

        @include breakpoint($md) {
            font-size: 4vw;
        }       


        &.current a {
            color: var(--color-aqua) !important;
        }

        &.has-sub-menu {
            a {
                position:relative;
                padding-right: 32px;

                svg {
                    position: absolute;
                    width: 35px;
                    height: 35px;
                    right: -6px;
                    top:0;
                    margin: 0.4vw 0 0;
                    transform: rotate(90deg);
                }
            }
        }

        a {
            display:inline-block;
            text-decoration: none;
            position:relative;
            line-height: 1em;
            padding: 10px 20px;

            @media (hover: hover) {
                &:hover {
                    text-decoration: underline;
                    color: var(--color-pink);
                }
            }

        }

        &.menu-item-has-children a {
            padding-right: 80px;

            .menu-item-chevron {
                display: flex;
            }
        }

        ul {
            display:none;

            li {
                padding:0;
                font-size: 16px;

                a {
                    font-family: $tertiary-font;
                    font-weight:600;
                    padding:6px 0 !important;                   

                    .menu-item-chevron {
                        display: none !important;
                    }
                }
            }
        }
        


        .sub-menu {
            margin-bottom: 15px;

            @include breakpoint(0 $mdlg) {
                .sub-menu__image {
                    display: none;
                }
            }
        }

        &.sub-menu-active {

            ul {
                display:block;
            }
            .mobile-menu__sub-trigger svg {
                transform: rotate(180deg);
            }
        }
    }

    ul#menu-primary-1 {
        .menu-item-chevron {
        }
    }

    &__scroll-wrapper {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        overscroll-behavior-y: contain;
        position:relative;
        z-index: 2;
    }


    // &__links {
    //     width: calc(100% + 3rem);
    //     margin-left: -1.5rem;

    //     ul li a{ 
    //         padding: 1rem 1.5rem;
    //     }

    //     @include breakpoint($md) {
    //         width: 100%;
    //         margin-left: 0;

    //         // ul li a{ 
    //         //     padding: 1rem 3rem;
    //         // }
    //     }
    // }

    // &__primary,
    // &__secondary {
    //     padding:1.5rem;

    //     @include breakpoint($md) {
    //         padding:3rem;
    //     }
    // }



    // &__primary {

    // }



    &__overlay {
        position:fixed;
        z-index: 99;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        opacity:0;
        pointer-events: none;
        visibility: hidden;
        background-color: var(--color-black);
        
    }


    // .mobile-menu__links,
    // .mobile-menu__secondary-inner {
    //     opacity:0;
    //     transform: translate(0,-15px);
    // }
    // .mobile-menu__links {
    //     transition: opacity 400ms $easing 200ms, transform 400ms $easing 200ms;
    // }
    // .mobile-menu__secondary-inner {
    //     transition: opacity 400ms $easing 300ms, transform 400ms $easing 300ms;
    // }

    .footer__bottom-symbol {
        opacity: 1;
        z-index: 0;
    }

}

.menu-active {
    .mobile-menu {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }
    .mobile-menu__overlay {
        opacity: 1;
        visibility: visible;
        //transition: opacity 400ms $easing;
        pointer-events: auto;
    }
    .mobile-menu__links,
    .mobile-menu__secondary-inner {
        opacity:1;
        transform: translate(0,0);
    }

}
