/******************************************************************
// Pagination
******************************************************************/


/**
 * Block
 */

.pagination {
	text-align:center;

	.page-numbers {
		padding: 10px 15px;
		font-family:$secondary-font;
		color:var(--color-grey-light-1);
  		font-weight:700;
		font-size: 22px;
		text-decoration: none;
		

		@include breakpoint($md) {
			padding: 10px;
		}

		@include breakpoint($lg) {
			font-size:26px;
		}

		a {

	        @include breakpoint($md) {
				&:hover {
					color: var(--color-pink);

					svg {
						stroke: var(--color-pink);
					}
				}
			}
		}

		&.current {
			color:var(--color-grey-dark-2);
		}
	}

	svg {
		width: 36px;
		stroke: var(--color-grey-light-1);
		transition: stroke 150ms var(--easing);
	}

	.page-numbers.next,
	.page-numbers.prev {
		position:relative;
		top:2px;

		svg {
			width: 31px;
		}
	}

	.page-numbers.next{
		text-align: right;

        svg {
            float: right;
            margin-left: 2rem;

            @include breakpoint($md) {
            	margin-left: 4rem;
            }
        }
	}

	.page-numbers.prev {
		text-align: left;

        svg {
            transform: rotate(180deg);
            float: left;
            margin-right: 2rem;

            @include breakpoint($md) {
            	margin-right: 4rem;
            }
        }
	}


	ul  {
	    margin:  0;
	    padding: 0 !important;
	    list-style: none;
	    position:relative;

		> li {
	        display: inline-block;
	        vertical-align: middle;
	        margin: 6px 0 0;


	        &:before {
	        	content:none;
	        }
	    }
	}
}