/******************************************************************
// Sidebar
******************************************************************/


/**
 * Block
 */
.sidebar {
	
	ul {
		margin-top: 2rem;

		li a {
			font-family: $tertiary-font;
			font-weight:600;
			text-transform: uppercase;
			font-size: 15px;
			line-height: 1.3;
			color: var(--color-grey);
			padding:4px 0;
			margin-bottom: 6px;
			text-decoration:none;
			display: inline-block;

			@media (hover: hover) {
				&:hover,
				&:focus {
					color:var(--color-pink) !important;
				}
			}

			@include breakpoint($lg) {
				font-size: 16px;
			}
		}

		li.current_page_item a {
			color: var(--color-aqua);
		}

		ul {
			margin:0 0 10px;
			padding:0;

			// Removing extra level
			display: none;

			li {

				a {
					font-size:14px;
					margin-bottom: 0px;
					padding:4px 0 4px 18px;
				}
			}
		}
	}

	.social-icons {
		margin-top: 1rem;
	}

	&__block {
		margin-bottom: 3em;

		@include breakpoint($lg) {
			margin-bottom: 4em;
		}
	}
}

.sidebar--mobile {
	display: block;

	@include breakpoint($mdlg) {
		display: none !important;
	}
}