/******************************************************************
// Base
******************************************************************/



/**
 * High-, page-level styling.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Prevent certain mobile browsers from automatically zooming fonts.
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
html {
	@include fluid-type($min_width, $max, 16px, 19px);
	line-height: $base-line-height / $base-font-size; /* [1] */
	font-family:$base-font;
	scroll-behavior: smooth;
	font-weight: 400;
	overflow-y: scroll; /* [2] */
	min-height: 100%; /* [3] */
	-webkit-text-size-adjust: 100%; /* [4] */
	    -ms-text-size-adjust: 100%; /* [4] */
	-moz-osx-font-smoothing: grayscale; /* [5] */
	 -webkit-font-smoothing: antialiased; /* [5] */

	 color: var(--color-grey-dark-1);
	 background-color: var(--color-grey-light-3);

}



body {
	background-color: var(--color-grey-dark-2);
}


// ::-moz-selection {
// 	background-color: $colour-yellow;
// 	color: $colour-blue;
// }
// ::selection {
// 	background-color: #a0a0a0;
// 	color: $colour-blue;
// }

/**
 * Shared styles
 */

/**
 * Where `margin-bottom` is concerned,this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, address,
hr,
table,
fieldset,
pre,
p,
%margin-bottom {
	margin-top:0;
    margin-bottom: var(--spacing);

}



/**
 * Link styles
 */
a {
	text-decoration:none;
	color: inherit;
}

p a,
ul li a {


		text-decoration: underline;
		color: var(--color-black);
		text-decoration-color: var(--color-black-3);


	@media (hover: hover) {
		transition: color 125ms var(--easing), text-decoration-color 125ms var(--easing);

		&:hover {

			color: var(--color-pink-hover);
			text-decoration-color: var(--color-pink-hover);
	
		}
	}
}


