/******************************************************************
// Fonts
******************************************************************/

/*
Font: 		MADE TOMMY
Style: 		
URL: 		https://www.youworkforthem.com/font/T11925/made-tommy
Foundry: 	MadeType
Foundry: 	https://www.youworkforthem.com/designer/1002/madetype
Copyright:	Copyright (c) 2020 by MadeType. All rights reserved.
Version: 	17
Created:	February 16, 2020
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/




@font-face {
	font-family: 'MADETOMMY';
	src: url('../fonts/made-tommy-extrabold.woff2') format('woff2'),
	     url('../fonts/made-tommy-extrabold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


// @font-face {
// 	font-family: 'MADETOMMY-ExtraBold';
// 	src: url('../fonts/made-tommy-extrabold.eot');
// 	src: url('../fonts/made-tommy-extrabold.eot?#iefix') format('embedded-opentype'),
//              url('../fonts/made-tommy-extrabold.woff2') format('woff2'),
// 	     url('../fonts/made-tommy-extrabold.woff') format('woff'),
// 	     url('../fonts/made-tommy-extrabold.ttf') format('truetype'),
// 	     url('../fonts/made-tommy-extrabold.svg#youworkforthem') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }
