/******************************************************************
// Mixins
******************************************************************/




// Generates a rem font-size (with pixel fallback) and a baseline-compatible
// unitless line-height from a pixel font-size value. Basic usage is simply:
//
//   @include font-size(18px);
//
// You can force a specific line-height by passing it as the second argument:
//
//   @include font-size(16px, 1);
//
// You can also modify the line-height by increments, while staying in the
// baseline grid, by setting the `$modifier` parameter. It takes a positive
// or negative integer, and it will add or remove "lines" to the  generated
// line-height. This is the recomended way to do it, unless you really need
// an absolute value. i.e.:
//
//   // add 2 lines:
//   @include font-size(24px, $modifier: +2);
//
//   // subtract 1 line:
//   @include font-size(24px, $modifier: -1);

// @mixin font-size($font-size, $line-height: auto, $modifier: 0, $important: false) {

//   @if (type-of($font-size) == number) {
//     @if (unit($font-size) != "px") {
//       @error "`#{$font-size}` needs to be a pixel value.";
//     }
//   } @else {
//     @error "`#{$font-size}` needs to be a number.";
//   }

//   @if ($important == true) {
//     $important: !important;
//   } @else if ($important == false) {
//     $important: null;
//   } @else {
//     @error "`#{$important}` needs to be `true` or `false`.";
//   }

//   // We provide a `px` fallback for old IEs not supporting `rem` values.
//   font-size: $font-size $important;
//   font-size: ($font-size / $base-font-size) * 1rem $important;

//   @if ($line-height == "auto") {

//     // Define how many grid lines each text line should span.
//     // By default, we set it to the minimum number of lines necessary
//     // in order to contain the defined font-size, +1 for some breathing room.
//     // This can be modified with the `$modifier` parameter.
//     $lines: ceil($font-size / $base-line-height) + $modifier + 1;
//     $line-height: $lines * $base-line-height;

//     line-height: ($line-height / $font-size) $important;
//   }

//   @else {

//     @if (type-of($line-height) == number or $line-height == "inherit" or $line-height == "normal") {
//       line-height: $line-height $important;
//     }

//     @else if ($line-height != 'none' and $line-height != false) {
//       @error "D’oh! `#{$line-height}` is not a valid value for `$line-height`."
//     }

//   }

// }










// //Here we transfer the variables from the map to the :root element
// @if($css4) {
//   :root {
//     @each $variable, $value in $variables {
//       #{$variable}: $value;
//     }
//   }
// }

// //this is the "magic" function
// @function var($variable) {
//   @if($css4) {
//     @return unquote('var(' + $variable + ')');
//   } @else {
//     @return map-get($variables, $variable);
//   }
// }

// //the mixin temporally sets the $css4 variable to false, compiles the css3 fallback, then makes the variable true again and compiles the css4 code. It should contain properties that use css4 variables, otherwise there will be unnessesary duplication of properties.
// @mixin css4 {
//   @if ($css4) {
//     $css4-backup: $css4;
//     @if($compatibility) {
//       $css4: false !global;
//       @content;
//     }
//     $css4: true !global;
//     @content;
//     $css4: $css4-backup;
//   } 
//   @else {
//     @content;
//   }
// }




@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}




//the body does not use fallback, its styles will be visible only in compatible browsers
// body {
//     max-width: 500px;
//     margin: 0 auto;
//   padding: 30px;
//     color: var(--color);
//     background: var(--background);
//     font: {
//         family: var(--font);
//     };
// }

// the p and button tags uses the css4 mixin so a fall-back is provided and they will work on all browsers.
// p {
//     text-align: justify;
//   @include css4 {
//     color: var(--color);
//   }
// }

// button {
//     @include css4 {
//         background: var(--color);
//         color: var(--background);
//         border: 2px solid currentcolor;
//         box-shadow: 0 0 0 5px var(--color);
//     };
//     &:hover {
//         @include css4 {
//             background: var(--background);
//             color: var(--color);
//             box-shadow: 0 0 0 5px var(--background);
//         }
//     }
// }