/******************************************************************
// TEMPORARY STUFF
******************************************************************/




html.logged-in {
	&:before {
		content:'XS';
		color:#ececec;
		font-size:11px;
		position:fixed;
		height:25px;
		z-index:999;
		width:36px;
		padding:4px 0;
		text-align:center;
		font-weight:600;
		background-color:rgba(0,0,0,0.8);
	}

	@include breakpoint($sm) {
		&:before {
			content:'S';
		}
	}
	@include breakpoint($md) {
		&:before {
			content:'MD';
		}
	}
	@include breakpoint($mdlg) {
		&:before {
			content:'MDLG';
		}
	}
	@include breakpoint($lg) {
		&:before {
			content:'LG';
		}
	}
	@include breakpoint($xl) {
		&:before {
			content:'XL';
		}
	}
	@include breakpoint($xxl) {
		&:before {
			content:'XXL';
		}
	}
	// @include breakpoint($max) {
	// 	&:before {
	// 		content:'MAX';
	// 	}
	// }
}

.section-label {
	position:absolute;
	z-index:999;
	top:0;
	left:0;
	background-color: #4CAF50;
	color: white;
	padding:4px 2px;
	display:inline-block;
	font-size: 11px;
	text-transform: uppercase;
	font-family:$secondary-font;
  	font-weight:600;
  	line-height:1.1;

  	opacity:0;
}

.temp-block {
	display: block;
	padding: 8em 4em;
	margin-bottom: 4em;
	text-align:center;
	background-color:white;
	box-shadow: 0 20px 60px 0 rgba(0,0,0,0.04);
 }

