/******************************************************************
// Variables
******************************************************************/

$css4: true;
$compatibility: true;
//it is nessesary to define the variables in sass map instead of :root, for compatibility reasons.

/**
 * Base type settings
 */
$base-font-size:          20px;
$base-line-height:        30px;

/**
 * Breakpoints
 */
$min_width: 320px;

$size-sm: 375px;
$size-md: 650px;
$size-mdlg: 900px;
$size-lg: 1100px;
$size-xl: 1500px;
$size-xxl: 1650px;

$size-max: 1650px;

$sm: $size-sm;
$md: $size-md;
$mdlg: $size-mdlg;
$lg: $size-lg;
$xl: (min-height 800px) $size-xl;
$xxl: (min-height 800px) $size-xxl;
$max: $size-max;




  :root {  
	/**
	 * Colours
	 */
    @include breakpoint($mdlg) {
        min-height: 360px;
    }
	--color-grey-dark-2: rgb(33, 47, 62);
	--color-grey-dark-1: rgb(74, 86, 97);
	--color-grey: rgb(110, 120, 129);
	--color-grey-light-1: rgb(164, 170, 176);
	--color-grey-light-2: rgb(227, 229, 230);
	--color-grey-light-3: rgb(247, 248, 248);

	--color-pink: rgb(224, 0, 105);
	--color-aqua: rgb(0, 173, 161);
	--color-purple: rgb(101, 47, 136);

	--color-green: rgb(59, 165, 87);
	--color-red: rgb(247, 163, 32);
	--color-white: rgb(255,255,255);


	/**
	 * Spacing
	 */
	--spacing-none: 0;
	--spacing-extra-small: 0;
	--spacing-small: 0;
	--spacing: calc( var(--logo-height) / 20);
	--spacing-big: calc( var(--logo-height) / 10);
	--spacing-large: calc( var(--logo-height) / 6.5);
	--spacing-very-large: calc( var(--logo-height) / 4.5);
	--spacing-extra-large: calc( var(--logo-height) / 3);
	--spacing-extra-extra-large: calc( var(--logo-height) / 2);


	--border-radius: 6px;

	--grid-width: 10px;

	/**
	 * Logo block sizing
	 */
	 --logo-spacing-left: 20px;
	 --logo-height: 150px;
	 --logo-width: 120px;

	/**
	 * Easing values
	 */
	 --easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);

}

@include breakpoint($sm) {
	:root {  
		 --logo-spacing-left: 30px;
		 --logo-height: 205px;
		 --logo-width: 165px;
		 --spacing-extra-large: calc( var(--logo-height) / 6);
	}
}
@include breakpoint($md) {
	:root {  
		 --logo-spacing-left: 38px;
		 --logo-height: 220px;
		 --logo-width: 190px;
		 --spacing-extra-large: calc( var(--logo-height) / 3);
		 --grid-width: 12px;
	}
}
@include breakpoint($mdlg) {
	:root {  
		 --logo-spacing-left: 35px;
		 --grid-width: 17px;
	}
}
@include breakpoint($lg) {
	:root {  
		 --logo-spacing-left: 51px; 
		 --logo-height: 300px;
		 --logo-width: 246px;
		 --grid-width: 15px;
	}
}
@include breakpoint($xl) {
	:root {  
		 --logo-spacing-left: 70px;
		 --logo-height: 330px;
		 --logo-width: 298px;

		 --grid-width: 25px;
	}
}


/**
 * Fonts
 */
$base-font: 'IBM Plex Serif', serif;
$secondary-font: 'MADETOMMY', Futura,Trebuchet MS,Arial,sans-serif;
$tertiary-font: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

/**
 * Transitions
 */
$easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easing-in: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easing-out:cubic-bezier(0.25, 0.46, 0.45, 0.94);







